## 정렬
### index명/컬럼명을 순 정렬
- #### sort_index(axis, ascending=True)
    - axis
        - index명 기준 정렬(행) : 'index' 또는 0 (기본값)
        - columnm 명 기준 정렬(열) : 'columns' 또는 1
    - ascending
        - 정렬방식
        - True(기본): 오름차순, False: 내림차순
    - inplace
        - 원본에 적용 여부
        - False(기본): 변경한 복사본 반환 
        - True : 원본을 변경

In [2]:
import pandas as pd
import numpy as np

movie_df = pd.read_csv('data/movie.csv', index_col='movie_title')

In [3]:
movie_df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [8]:
movie_df.sort_index() # axis = 'index', ascending=True(기본값): 행이름 오름차순.

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
#Horror,Color,Tara Subkoff,35.0,101.0,37.0,56.0,Balthazar Getty,501.0,NaN,Drama|Horror|Mystery|Thriller,...,42.0,English,USA,Not Rated,1500000.0,2015.0,418.0,3.3,NaN,750
10 Cloverfield Lane,Color,Dan Trachtenberg,411.0,104.0,16.0,82.0,John Gallagher Jr.,14000.0,71897215.0,Drama|Horror|Mystery|Sci-Fi|Thriller,...,440.0,English,USA,PG-13,15000000.0,2016.0,338.0,7.3,2.35,33000
10 Days in a Madhouse,Color,Timothy Hines,1.0,111.0,0.0,247.0,Kelly LeBrock,1000.0,14616.0,Drama,...,10.0,English,USA,R,12000000.0,2015.0,445.0,7.5,1.85,26000
10 Things I Hate About You,Color,Gil Junger,133.0,97.0,19.0,835.0,Heath Ledger,23000.0,38176108.0,Comedy|Drama|Romance,...,549.0,English,USA,PG-13,16000000.0,1999.0,13000.0,7.2,1.85,10000
"10,000 B.C.",NaN,Christopher Barnard,NaN,22.0,0.0,NaN,NaN,5.0,NaN,Comedy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
[Rec] 2,Color,Jaume Balagueró,222.0,85.0,57.0,6.0,Pablo Rosso,37.0,27024.0,Horror,...,148.0,Spanish,Spain,R,5600000.0,2009.0,9.0,6.6,1.85,4000
eXistenZ,Color,David Cronenberg,196.0,115.0,0.0,716.0,Sarah Polley,1000.0,2840417.0,Horror|Sci-Fi|Thriller,...,527.0,English,Canada,R,31000000.0,1999.0,900.0,6.8,1.85,6000
xXx,Color,Rob Cohen,191.0,132.0,357.0,212.0,Eve,14000.0,141204016.0,Action|Adventure|Thriller,...,737.0,English,USA,PG-13,70000000.0,2002.0,223.0,5.8,2.35,10000
xXx: State of the Union,Color,Lee Tamahori,77.0,101.0,93.0,218.0,Nona Gaye,287.0,26082914.0,Action|Adventure|Crime|Thriller,...,213.0,English,USA,PG-13,87000000.0,2005.0,233.0,4.3,2.35,0
Æon Flux,Color,Karyn Kusama,178.0,93.0,45.0,352.0,Sophie Okonedo,9000.0,25857987.0,Action|Sci-Fi,...,532.0,English,USA,PG-13,62000000.0,2005.0,460.0,5.5,2.35,0

In [9]:
movie_df.sort_index(ascending=False) # 내림차순 정렬

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Æon Flux,Color,Karyn Kusama,178.0,93.0,45.0,352.0,Sophie Okonedo,9000.0,25857987.0,Action|Sci-Fi,...,532.0,English,USA,PG-13,62000000.0,2005.0,460.0,5.5,2.35,0
xXx: State of the Union,Color,Lee Tamahori,77.0,101.0,93.0,218.0,Nona Gaye,287.0,26082914.0,Action|Adventure|Crime|Thriller,...,213.0,English,USA,PG-13,87000000.0,2005.0,233.0,4.3,2.35,0
xXx,Color,Rob Cohen,191.0,132.0,357.0,212.0,Eve,14000.0,141204016.0,Action|Adventure|Thriller,...,737.0,English,USA,PG-13,70000000.0,2002.0,223.0,5.8,2.35,10000
eXistenZ,Color,David Cronenberg,196.0,115.0,0.0,716.0,Sarah Polley,1000.0,2840417.0,Horror|Sci-Fi|Thriller,...,527.0,English,Canada,R,31000000.0,1999.0,900.0,6.8,1.85,6000
[Rec] 2,Color,Jaume Balagueró,222.0,85.0,57.0,6.0,Pablo Rosso,37.0,27024.0,Horror,...,148.0,Spanish,Spain,R,5600000.0,2009.0,9.0,6.6,1.85,4000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"10,000 B.C.",NaN,Christopher Barnard,NaN,22.0,0.0,NaN,NaN,5.0,NaN,Comedy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2,NaN,0
10 Things I Hate About You,Color,Gil Junger,133.0,97.0,19.0,835.0,Heath Ledger,23000.0,38176108.0,Comedy|Drama|Romance,...,549.0,English,USA,PG-13,16000000.0,1999.0,13000.0,7.2,1.85,10000
10 Days in a Madhouse,Color,Timothy Hines,1.0,111.0,0.0,247.0,Kelly LeBrock,1000.0,14616.0,Drama,...,10.0,English,USA,R,12000000.0,2015.0,445.0,7.5,1.85,26000
10 Cloverfield Lane,Color,Dan Trachtenberg,411.0,104.0,16.0,82.0,John Gallagher Jr.,14000.0,71897215.0,Drama|Horror|Mystery|Sci-Fi|Thriller,...,440.0,English,USA,PG-13,15000000.0,2016.0,338.0,7.3,2.35,33000
#Horror,Color,Tara Subkoff,35.0,101.0,37.0,56.0,Balthazar Getty,501.0,NaN,Drama|Horror|Mystery|Thriller,...,42.0,English,USA,Not Rated,1500000.0,2015.0,418.0,3.3,NaN,750

In [16]:
#movie_df.sort_index(axis='columns') # 컬럼단위 정렬
movie_df.sort_index(axis=1, ascending=False) #컬럼단위 정렬 + 내림차순.

,title_year,plot_keywords,num_voted_users,num_user_for_reviews,num_critic_for_reviews,movie_imdb_link,movie_facebook_likes,language,imdb_score,gross,...,color,cast_total_facebook_likes,budget,aspect_ratio,actor_3_name,actor_3_facebook_likes,actor_2_name,actor_2_facebook_likes,actor_1_name,actor_1_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,avatar|future|marine|native|paraplegic,886204,3054.0,723.0,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,33000,English,7.9,760505847.0,...,Color,4834,237000000.0,1.78,Wes Studi,855.0,Joel David Moore,936.0,CCH Pounder,1000.0
Pirates of the Caribbean: At World's End,2007.0,goddess|marriage ceremony|marriage proposal|pi...,471220,1238.0,302.0,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,0,English,7.1,309404152.0,...,Color,48350,300000000.0,2.35,Jack Davenport,1000.0,Orlando Bloom,5000.0,Johnny Depp,40000.0
Spectre,2015.0,bomb|espionage|sequel|spy|terrorist,275868,994.0,602.0,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,85000,English,6.8,200074175.0,...,Color,11700,245000000.0,2.35,Stephanie Sigman,161.0,Rory Kinnear,393.0,Christoph Waltz,11000.0
The Dark Knight Rises,2012.0,deception|imprisonment|lawlessness|police offi...,1144337,2701.0,813.0,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,164000,English,8.5,448130642.0,...,Color,106759,250000000.0,2.35,Joseph Gordon-Levitt,23000.0,Christian Bale,23000.0,Tom Hardy,27000.0
Star Wars: Episode VII - The Force Awakens,NaN,NaN,8,NaN,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,0,NaN,7.1,NaN,...,NaN,143,NaN,NaN,NaN,NaN,Rob Walker,12.0,Doug Walker,131.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Signed Sealed Delivered,2013.0,fraud|postal worker|prison|theft|trial,629,6.0,1.0,http://www.imdb.com/title/tt3000844/?ref_=fn_t...,84,English,7.7,NaN,...,Color,2283,NaN,NaN,Crystal Lowe,318.0,Daphne Zuniga,470.0,Eric Mabius,637.0
The Following,NaN,cult|fbi|hideout|prison escape|serial killer,73839,359.0,43.0,http://www.imdb.com/title/tt2071645/?ref_=fn_t...,32000,English,7.5,NaN,...,Color,1753,NaN,16.00,Sam Underwood,319.0,Valorie Curry,593.0,Natalie Zea,841.0
A Plague So Pleasant,2013.0,NaN,38,3.0,13.0,http://www.imdb.com/title/tt2107644/?ref_=fn_t...,16,English,6.3,NaN,...,Color,0,1400.0,NaN,David Chandler,0.0,Maxwell Moody,0.0,Eva Boehnke,0.0
Shanghai Calling,2012.0,NaN,1255,9.0,14.0,http://www.imdb.com/title/tt2070597/?ref_=fn_t...,660,English,6.3,10443.0,...,Color,2386,NaN,2.35,Eliza Coupe,489.0,Daniel Henney,719.0,Alan Ruck,946.0
My Date with Drew,2004.0,actress name in title|crush|date|four word tit...,4285,84.0,43.0,http://www.imdb.com/title/tt0378407/?ref_=fn_t...,456,English,6.6,85222.0,...,Color,163,1100.0,1.85,Jon Gunn,16.0,Brian Herzlinger,23.0,John August,86.0

In [18]:
movie_df2 = movie_df.sort_index()
movie_df2.head(10)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
#Horror,Color,Tara Subkoff,35.0,101.0,37.0,56.0,Balthazar Getty,501.0,NaN,Drama|Horror|Mystery|Thriller,...,42.0,English,USA,Not Rated,1500000.0,2015.0,418.0,3.3,NaN,750
10 Cloverfield Lane,Color,Dan Trachtenberg,411.0,104.0,16.0,82.0,John Gallagher Jr.,14000.0,71897215.0,Drama|Horror|Mystery|Sci-Fi|Thriller,...,440.0,English,USA,PG-13,15000000.0,2016.0,338.0,7.3,2.35,33000
10 Days in a Madhouse,Color,Timothy Hines,1.0,111.0,0.0,247.0,Kelly LeBrock,1000.0,14616.0,Drama,...,10.0,English,USA,R,12000000.0,2015.0,445.0,7.5,1.85,26000
10 Things I Hate About You,Color,Gil Junger,133.0,97.0,19.0,835.0,Heath Ledger,23000.0,38176108.0,Comedy|Drama|Romance,...,549.0,English,USA,PG-13,16000000.0,1999.0,13000.0,7.2,1.85,10000
"10,000 B.C.",NaN,Christopher Barnard,NaN,22.0,0.0,NaN,NaN,5.0,NaN,Comedy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2,NaN,0
102 Dalmatians,Color,Kevin Lima,84.0,100.0,36.0,439.0,Eric Idle,2000.0,66941559.0,Adventure|Comedy|Family,...,77.0,English,USA,G,85000000.0,2000.0,795.0,4.8,1.85,372
10th & Wolf,Color,Robert Moresco,26.0,107.0,53.0,463.0,Brad Renfro,954.0,53481.0,Crime|Drama|Thriller,...,34.0,English,USA,R,8000000.0,2006.0,551.0,6.4,2.35,294
11:14,Color,Greg Marcks,68.0,85.0,9.0,407.0,Barbara Hershey,861.0,NaN,Comedy|Crime|Drama,...,133.0,English,USA,R,6000000.0,2003.0,618.0,7.2,1.85,0
12 Angry Men,Black and White,Sidney Lumet,177.0,96.0,0.0,253.0,Lee J. Cobb,359.0,NaN,Crime|Drama,...,888.0,English,USA,Not Rated,350000.0,1957.0,259.0,8.9,1.66,40000
12 Monkeys,Color,NaN,13.0,42.0,NaN,442.0,Kirk Acevedo,757.0,NaN,Adventure|Drama|Mystery|Sci-Fi|Thriller,...,56.0,English,USA,TV-14,NaN,NaN,641.0,7.6,16.00,12000

In [19]:
movie_df2['A':'B'] # index가 sorting된 경우 부분값을 가지고 slicing가능. stop은 포함이 안됨.
# A로 시작하는 영화들

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
A Beautiful Mind,Color,Ron Howard,205.0,135.0,2000.0,535.0,Austin Pendleton,1000.0,170708996.0,Biography|Drama,...,1171.0,English,USA,PG-13,58000000.0,2001.0,592.0,8.2,1.85,29000
A Beginner's Guide to Snuff,Color,Mitchell Altieri,NaN,87.0,9.0,165.0,Luke Edwards,467.0,NaN,Comedy|Horror|Thriller,...,NaN,English,USA,NaN,NaN,2016.0,258.0,8.7,NaN,8
A Better Life,Color,Chris Weitz,94.0,98.0,129.0,221.0,Eddie 'Piolin' Sotelo,749.0,1754319.0,Drama|Romance,...,81.0,English,USA,PG-13,10000000.0,2011.0,252.0,7.2,1.85,0
A Bridge Too Far,Black and White,Richard Attenborough,56.0,175.0,0.0,14.0,Dirk Bogarde,385.0,50800000.0,Drama|History|War,...,210.0,English,USA,PG,26000000.0,1977.0,232.0,7.4,2.35,0
A Bug's Life,Color,John Lasseter,117.0,95.0,487.0,1000.0,Madeline Kahn,18000.0,162792677.0,Adventure|Animation|Comedy|Family|Fantasy,...,317.0,English,USA,G,120000000.0,1998.0,1000.0,7.2,2.35,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Avengers: Age of Ultron,Color,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,Action|Adventure|Sci-Fi,...,1117.0,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000
Awake,Color,Joby Harold,133.0,84.0,8.0,896.0,Fisher Stevens,4000.0,14373825.0,Crime|Mystery|Thriller,...,196.0,English,USA,R,8600000.0,2007.0,922.0,6.5,2.35,0
Away We Go,Color,Sam Mendes,217.0,98.0,0.0,374.0,Jim Gaffigan,925.0,9430988.0,Comedy|Drama|Romance,...,115.0,English,USA,R,17000000.0,2009.0,472.0,7.1,2.35,7000
Ayurveda: Art of Being,Color,Pan Nalin,15.0,102.0,95.0,NaN,NaN,NaN,16892.0,Documentary,...,12.0,English,India,NaN,300000.0,2001.0,NaN,7.6,1.85,379

In [21]:
movie_df2['A B':'B']

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
A Beautiful Mind,Color,Ron Howard,205.0,135.0,2000.0,535.0,Austin Pendleton,1000.0,170708996.0,Biography|Drama,...,1171.0,English,USA,PG-13,58000000.0,2001.0,592.0,8.2,1.85,29000
A Beginner's Guide to Snuff,Color,Mitchell Altieri,NaN,87.0,9.0,165.0,Luke Edwards,467.0,NaN,Comedy|Horror|Thriller,...,NaN,English,USA,NaN,NaN,2016.0,258.0,8.7,NaN,8
A Better Life,Color,Chris Weitz,94.0,98.0,129.0,221.0,Eddie 'Piolin' Sotelo,749.0,1754319.0,Drama|Romance,...,81.0,English,USA,PG-13,10000000.0,2011.0,252.0,7.2,1.85,0
A Bridge Too Far,Black and White,Richard Attenborough,56.0,175.0,0.0,14.0,Dirk Bogarde,385.0,50800000.0,Drama|History|War,...,210.0,English,USA,PG,26000000.0,1977.0,232.0,7.4,2.35,0
A Bug's Life,Color,John Lasseter,117.0,95.0,487.0,1000.0,Madeline Kahn,18000.0,162792677.0,Adventure|Animation|Comedy|Family|Fantasy,...,317.0,English,USA,G,120000000.0,1998.0,1000.0,7.2,2.35,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Avengers: Age of Ultron,Color,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,Action|Adventure|Sci-Fi,...,1117.0,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000
Awake,Color,Joby Harold,133.0,84.0,8.0,896.0,Fisher Stevens,4000.0,14373825.0,Crime|Mystery|Thriller,...,196.0,English,USA,R,8600000.0,2007.0,922.0,6.5,2.35,0
Away We Go,Color,Sam Mendes,217.0,98.0,0.0,374.0,Jim Gaffigan,925.0,9430988.0,Comedy|Drama|Romance,...,115.0,English,USA,R,17000000.0,2009.0,472.0,7.1,2.35,7000
Ayurveda: Art of Being,Color,Pan Nalin,15.0,102.0,95.0,NaN,NaN,NaN,16892.0,Documentary,...,12.0,English,India,NaN,300000.0,2001.0,NaN,7.6,1.85,379

### 컬럼 값 기준 정렬
- #### sort_values(by, ascending, inplace)
    - by
        - 정렬기준 컬럼명
        - 여러 컬럼에 대해 정렬할 경우 리스트에 담아 전달
    - ascending
        - 정렬방식
        - True(기본): 오름차순, False: 내림차순
        - 여러컬럼에 대해 정렬할 경우 정렬방식도 리스트에 담아 전달
    - inplace
        - 원본에 적용 여부
        - False(기본): 변경한 복사본 반환 
        - True : 원본을 변경

In [22]:
movie_df.sort_values('director_name')

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
The Helix... Loaded,Color,A. Raven Cruz,3.0,97.0,0.0,94.0,Vanilla Ice,639.0,NaN,Action|Adventure|Comedy|Fantasy|Sci-Fi,...,9.0,English,USA,R,1000000.0,2005.0,361.0,1.9,1.78,128
Circle,Color,Aaron Hann,29.0,87.0,0.0,94.0,Michael McLafferty,160.0,NaN,Drama|Horror|Mystery|Sci-Fi|Thriller,...,59.0,English,USA,Not Rated,NaN,2015.0,152.0,6.0,NaN,0
Get Low,Color,Aaron Schneider,160.0,100.0,11.0,970.0,Robert Duvall,13000.0,9176553.0,Drama|Mystery,...,97.0,English,USA,PG-13,7500000.0,2009.0,3000.0,7.1,2.35,0
Date Movie,Color,Aaron Seltzer,99.0,85.0,64.0,729.0,Carmen Electra,3000.0,48546578.0,Comedy|Romance,...,613.0,English,USA,PG-13,20000000.0,2006.0,869.0,2.7,1.85,806
The Funeral,Color,Abel Ferrara,48.0,99.0,220.0,599.0,Vincent Gallo,812.0,1227324.0,Crime|Drama,...,48.0,English,USA,R,12500000.0,1996.0,787.0,6.6,1.85,344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Heroes,Color,NaN,75.0,60.0,NaN,833.0,Masi Oka,1000.0,NaN,Drama|Fantasy|Sci-Fi|Thriller,...,379.0,English,USA,TV-14,NaN,NaN,923.0,7.7,16.00,0
Home Movies,Color,NaN,11.0,22.0,NaN,6.0,Ron Lynch,59.0,NaN,Animation|Comedy|Drama,...,82.0,English,USA,TV-PG,NaN,NaN,11.0,8.2,1.33,526
Revolution,Color,NaN,23.0,43.0,NaN,576.0,Tracy Spiridakos,2000.0,NaN,Action|Adventure|Drama|Sci-Fi,...,323.0,English,USA,TV-14,NaN,NaN,821.0,6.7,16.00,17000
Happy Valley,Color,NaN,11.0,58.0,NaN,250.0,James Norton,887.0,NaN,Crime|Drama,...,59.0,English,UK,TV-MA,NaN,NaN,340.0,8.5,16.00,10000
The Following,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000

In [23]:
movie_df.sort_values('director_name',ascending=False)
# 결측치는 방식(오름/내림)에 상괌없이 마지막에 나온다.

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Bizarre,Color,Étienne Faure,9.0,98.0,77.0,0.0,Pierre Prieur,19.0,NaN,Drama|Musical|Romance,...,1.0,English,France,Unrated,500000.0,2015.0,0.0,4.3,1.78,114
Sur le seuil,Color,Éric Tessier,9.0,99.0,0.0,6.0,Michel Côté,50.0,NaN,Action|Drama|Horror|Thriller,...,5.0,French,Canada,NaN,3200000.0,2003.0,16.0,6.6,1.85,39
Mambo Italiano,Color,Émile Gaudreault,67.0,92.0,9.0,71.0,Luke Kirby,636.0,6239558.0,Comedy|Drama,...,67.0,English,Canada,R,5000000.0,2003.0,210.0,6.7,1.85,352
The Oxford Murders,Color,Álex de la Iglesia,71.0,104.0,275.0,102.0,Leonor Watling,439.0,3607.0,Crime|Mystery|Thriller,...,94.0,English,Spain,R,10000000.0,2008.0,161.0,6.1,2.35,0
Along the Roadside,Color,Zoran Lisinac,17.0,108.0,0.0,142.0,Brock Baker,431.0,NaN,Comedy|Music|Romance,...,2.0,English,USA,NaN,250000.0,2013.0,297.0,7.1,1.85,231
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Heroes,Color,NaN,75.0,60.0,NaN,833.0,Masi Oka,1000.0,NaN,Drama|Fantasy|Sci-Fi|Thriller,...,379.0,English,USA,TV-14,NaN,NaN,923.0,7.7,16.00,0
Home Movies,Color,NaN,11.0,22.0,NaN,6.0,Ron Lynch,59.0,NaN,Animation|Comedy|Drama,...,82.0,English,USA,TV-PG,NaN,NaN,11.0,8.2,1.33,526
Revolution,Color,NaN,23.0,43.0,NaN,576.0,Tracy Spiridakos,2000.0,NaN,Action|Adventure|Drama|Sci-Fi,...,323.0,English,USA,TV-14,NaN,NaN,821.0,6.7,16.00,17000
Happy Valley,Color,NaN,11.0,58.0,NaN,250.0,James Norton,887.0,NaN,Crime|Drama,...,59.0,English,UK,TV-MA,NaN,NaN,340.0,8.5,16.00,10000
The Following,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000

In [25]:
movie_df.sort_values('duration').head(10)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
The Touch,Color,Jane Clark,NaN,7.0,23.0,51.0,Traci Dinwiddie,344.0,NaN,Romance|Short,...,NaN,English,USA,NaN,13000.0,2007.0,281.0,5.2,1.85,30
Shaun the Sheep,Color,NaN,12.0,7.0,NaN,3.0,John Sparkes,45.0,NaN,Animation|Comedy|Family,...,12.0,English,UK,TV-G,NaN,NaN,7.0,8.3,NaN,834
Robot Chicken,Color,NaN,38.0,11.0,NaN,0.0,Seth Green,11.0,NaN,Animation|Comedy,...,75.0,English,USA,TV-MA,NaN,NaN,0.0,7.8,1.33,1000
Vessel,Color,Clark Baker,1.0,14.0,0.0,37.0,Alan Pietruszewski,134.0,NaN,Horror|Sci-Fi|Short|Thriller,...,3.0,English,USA,NaN,NaN,2012.0,93.0,6.2,NaN,14
Wal-Mart: The High Cost of Low Price,Color,Robert Greenwald,56.0,20.0,21.0,0.0,Jon Hunter,0.0,NaN,Documentary,...,70.0,English,USA,Not Rated,1500000.0,2005.0,0.0,6.8,1.85,0
"Sabrina, the Teenage Witch",Color,NaN,20.0,22.0,NaN,271.0,Soleil Moon Frye,870.0,NaN,Comedy|Family|Fantasy,...,94.0,English,USA,TV-G,3000000.0,NaN,558.0,6.6,1.33,990
Anger Management,Color,NaN,26.0,22.0,NaN,676.0,Noureen DeWulf,883.0,NaN,Comedy|Romance,...,54.0,English,USA,NaN,NaN,NaN,701.0,6.7,16.00,0
It's Always Sunny in Philadelphia,Color,NaN,79.0,22.0,NaN,424.0,Kaitlin Olson,813.0,NaN,Comedy,...,151.0,English,USA,TV-MA,NaN,NaN,547.0,8.8,1.33,0
Home Movies,Color,NaN,11.0,22.0,NaN,6.0,Ron Lynch,59.0,NaN,Animation|Comedy|Drama,...,82.0,English,USA,TV-PG,NaN,NaN,11.0,8.2,1.33,526
"10,000 B.C.",NaN,Christopher Barnard,NaN,22.0,0.0,NaN,NaN,5.0,NaN,Comedy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2,NaN,0

In [30]:
# duration으로 정렬하고 duration값이 같은것 끼리는 imdb_score 값으로 정렬(둘다 오름차순) ascending=False면 내림차순.
movie_df.sort_values(['duration','imdb_score'],ascending=True)[['duration','imdb_score']].head(20)

                              duration  imdb_score
movie_title
Trapped                          511.0         8.2
Carlos                           334.0         7.7
Blood In, Blood Out              330.0         8.0
Heaven's Gate                    325.0         6.8
The Legend of Suriyothai         300.0         6.6
Das Boot                         293.0         8.4
Apocalypse Now                   289.0         8.5
The Company                      286.0         7.9
Gods and Generals                280.0         6.3
Gettysburg                       271.0         7.7
Arn: The Knight Templar          270.0         6.6
Once Upon a Time in America      251.0         8.4
Cleopatra                        251.0         7.0
The Wolf of Wall Street          240.0         8.2
Emma                             240.0         8.2
Gandhi                           240.0         8.1
Dances with Wolves               236.0         8.0
Lawrence of Arabia               227.0         8.4
Gone with the Wind               226.0         8.2
The Greatest Story Ever Told     225.0         6.6

In [32]:
movie_df.sort_values(['duration','imdb_score'],ascending=[False, True])[['duration','imdb_score']].head(20)

                              duration  imdb_score
movie_title
Trapped                          511.0         8.2
Carlos                           334.0         7.7
Blood In, Blood Out              330.0         8.0
Heaven's Gate                    325.0         6.8
The Legend of Suriyothai         300.0         6.6
Das Boot                         293.0         8.4
Apocalypse Now                   289.0         8.5
The Company                      286.0         7.9
Gods and Generals                280.0         6.3
Gettysburg                       271.0         7.7
Arn: The Knight Templar          270.0         6.6
Cleopatra                        251.0         7.0
Once Upon a Time in America      251.0         8.4
Gandhi                           240.0         8.1
The Wolf of Wall Street          240.0         8.2
Emma                             240.0         8.2
Dances with Wolves               236.0         8.0
Lawrence of Arabia               227.0         8.4
Gone with the Wind               226.0         8.2
The Greatest Story Ever Told     225.0         6.6

In [33]:
movie_df[movie_df['duration']>250].sort_values('num_critic_for_reviews')

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
The Company,Color,NaN,9.0,286.0,NaN,527.0,Tom Hollander,857.0,NaN,Drama|History|Thriller,...,39.0,English,USA,NaN,NaN,NaN,555.0,7.9,1.78,733
"Blood In, Blood Out",Color,Taylor Hackford,12.0,330.0,138.0,672.0,Jesse Borrego,848.0,4496583.0,Crime|Drama,...,129.0,English,USA,R,35000000.0,1993.0,674.0,8.0,1.66,6000
Trapped,Color,NaN,16.0,511.0,NaN,51.0,Ingvar Eggert Sigurðsson,147.0,NaN,Crime|Drama|Thriller,...,19.0,Icelandic,Iceland,NaN,NaN,NaN,63.0,8.2,16.00,0
Gettysburg,Color,Ron Maxwell,22.0,271.0,33.0,251.0,William Morgan Sheppard,854.0,10769960.0,Drama|History|War,...,256.0,English,USA,PG,25000000.0,1993.0,702.0,7.7,1.85,0
The Legend of Suriyothai,Color,Chatrichalerm Yukol,31.0,300.0,6.0,6.0,Chatchai Plengpanich,7.0,454255.0,Action|Adventure|Drama|History|War,...,47.0,Thai,Thailand,R,400000000.0,2001.0,6.0,6.6,1.85,124
Arn: The Knight Templar,Color,Peter Flinth,34.0,270.0,5.0,292.0,Michael Nyqvist,908.0,NaN,Action|Adventure|Drama|Romance|War,...,54.0,Swedish,Sweden,NaN,25000000.0,2007.0,690.0,6.6,2.35,0
Cleopatra,Color,Joseph L. Mankiewicz,72.0,251.0,311.0,595.0,Richard Burton,940.0,57750000.0,Biography|Drama|History|Romance,...,192.0,English,UK,Approved,31115000.0,1963.0,726.0,7.0,2.20,0
Gods and Generals,Color,Ron Maxwell,84.0,280.0,33.0,67.0,Bruce Boxleitner,789.0,12870569.0,Drama|History|War,...,497.0,English,USA,PG-13,56000000.0,2003.0,640.0,6.3,2.35,953
Das Boot,Color,Wolfgang Petersen,96.0,293.0,249.0,18.0,Martin Semmelrogge,362.0,11433134.0,Adventure|Drama|Thriller|War,...,426.0,German,West Germany,R,14000000.0,1981.0,21.0,8.4,1.85,11000
Heaven's Gate,Color,Michael Cimino,102.0,325.0,517.0,678.0,Sam Waterston,12000.0,1500000.0,Adventure|Drama|Western,...,189.0,English,USA,R,44000000.0,1980.0,849.0,6.8,2.35,1000
Carlos,Color,NaN,108.0,334.0,NaN,30.0,Nora von Waldstätten,897.0,145118.0,Biography|Crime|Drama|Thriller,...,36.0,English,France,Not Rated,NaN,NaN,30.0,7.7,2.35,0
Once Upon a Time in America,Color,Sergio Leone,111.0,251.0,0.0,642.0,Burt Young,22000.0,5300000.0,Crime|Drama,...,495.0,English,Italy,R,30000000.0,1984.0,683.0,8.4,1.85,12000
Apocalypse Now,Color,Francis Ford Coppola,261.0,289.0,0.0,3000.0,Marlon Brando,11000.0,78800000.0,Drama|War,...,983.0,English,USA,R,31500000.0,1979.0,10000.0,8.5,2.35,19000

## flights.csv (항공기 운항 기록)
- MONTH : 비행 월
- DAY : 비행 일
- WEEKDAY : 비행 요일 - 1(월요일)~7(일요일)
- AIRLINE : 항공사 코드
     - UA:	United Air Lines Inc.
     - AA:	American Airlines Inc.
     - US:	US Airways Inc.
     - F9:	Frontier Airlines Inc.
     - B6:	JetBlue Airways
     - OO:	Skywest Airlines Inc.
     - AS:	Alaska Airlines Inc.
     - NK:	Spirit Air Lines
     - WN:	Southwest Airlines Co.
     - DL:	Delta Air Lines Inc.
     - EV:	Atlantic Southeast Airlines
     - HA:	Hawaiian Airlines Inc.
     - MQ:	American Eagle Airlines Inc.
     - VX:	Virgin America
- ORG_AIR : 출발공항
- DEST_AIR : 도착공항
- SCHED_DEP : 출발예정시각
- DEP_DELAY : 출발지연시간(분)
- AIR_TIME : 비행시간(분)
- DIST : 비행거리(마일)
- SCHED_ARR : 도착예정시각
- ARR_DELAY : 도착지연시간(분)
- DIVERTED : 회항여부(1: True, 0: False)
- CANCELLED : 취소여부(1: True, 0: False)

In [5]:
import pandas as pd
import numpy as np
flights = pd.read_csv('data/flights.csv')

In [36]:
flights.shape

(58492, 14)

In [38]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58492 entries, 0 to 58491
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MONTH      58492 non-null  int64
 1   DAY        58492 non-null  int64
 2   WEEKDAY    58492 non-null  int64
 3   AIRLINE    58492 non-null  object
 4   ORG_AIR    58492 non-null  object
 5   DEST_AIR   58492 non-null  object
 6   SCHED_DEP  58492 non-null  int64
 7   DEP_DELAY  57659 non-null  float64
 8   AIR_TIME   57474 non-null  float64
 9   DIST       58492 non-null  int64
 10  SCHED_ARR  58492 non-null  int64
 11  ARR_DELAY  57474 non-null  float64
 12  DIVERTED   58492 non-null  int64
 13  CANCELLED  58492 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 6.2+ MB

In [40]:
#AIRLINE의 고유값(항공사 코드-범주형)범주형: 정해져있는값,EX)성별
np.sort(flights['AIRLINE'].unique())

array(['AA', 'AS', 'B6', 'DL', 'EV', 'F9', 'HA', 'MQ', 'NK', 'OO', 'UA',
       'US', 'VX', 'WN'], dtype=object)

In [42]:
flights['AIRLINE'].unique(), flights['AIRLINE'].nunique()

(array(['WN', 'UA', 'MQ', 'AA', 'F9', 'EV', 'OO', 'NK', 'US', 'AS', 'DL',
        'VX', 'B6', 'HA'], dtype=object),
 14)

In [44]:
flights['AIRLINE'].value_counts().sort_index()

AA     8900
AS      768
B6      543
DL    10601
EV     5858
F9     1317
HA      112
MQ     3471
NK     1516
OO     6588
UA     7792
US     1615
VX      993
WN     8418
Name: AIRLINE, dtype: int64

In [45]:
flights['WEEKDAY'].value_counts().sort_index()

1    8720
2    8535
3    8706
4    8659
5    8453
6    7052
7    8367
Name: WEEKDAY, dtype: int64

In [46]:
flights.isnull().sum()

MONTH           0
DAY             0
WEEKDAY         0
AIRLINE         0
ORG_AIR         0
DEST_AIR        0
SCHED_DEP       0
DEP_DELAY     833
AIR_TIME     1018
DIST            0
SCHED_ARR       0
ARR_DELAY    1018
DIVERTED        0
CANCELLED       0
dtype: int64

## 기술통계함수를 이용한 데이터 집계
### 주요 기술통계 함수

|함수|설명|
|-|-|
|sum()|합계|
|mean()|평균|
|median()|중위수|
|quantile()|분위수|
|std()|표준편차|
|var()|분산|
|count()|결측치를 제외한 원소 개수|
|min()|최소값|
|max()|최대값|
|idxmax()|최대값 index|
|idxmin()|최소값 index|
|unique()|고유값|
|nunique()|고유값의 개수|

- DataFrame에 적용할 경우 컬럼별로 계산
- sum(), max(), min(), unique(), nunique(), count()는 문자열에 적용가능
    - 문자열 컬럼의 min/max index를 조회하려면 np.argmax(), np.argmin()을 사용
- 기본적으로 결측치(NA)는 제외하고 처리한다. 
    - 결측치 제외하지 않으려면 skipna=False로 설정

In [48]:
np.argmax(flights['AIRLINE'])

0

In [50]:
flights.sum() #컬럼별로 처리.

MONTH                                                   363858
DAY                                                     918447
WEEKDAY                                                 229690
AIRLINE      WNUAMQAAWNUAAAF9AAUAMQEVOOEVUAAAOONKMQWNWNUAOO...
ORG_AIR      LAXDENDFWDFWLAXIAHDFWSFOORDIAHDFWORDORDORDIAHD...
DEST_AIR     SLCIADVPSDCAMCISANMSYPHXSTLSJCDROJANMSPCMHINDD...
SCHED_DEP                                             81186009
DEP_DELAY                                               629705
AIR_TIME                                           6.66288e+06
DIST                                                  51057671
SCHED_ARR                                             90627495
ARR_DELAY                                               334057
DIVERTED                                                   137
CANCELLED                                                  881
dtype: object

In [53]:
flights.select_dtypes(exclude='object').sum() # 문자형빼고 sum()을 할때.

MONTH          363858.0
DAY            918447.0
WEEKDAY        229690.0
SCHED_DEP    81186009.0
DEP_DELAY      629705.0
AIR_TIME      6662879.0
DIST         51057671.0
SCHED_ARR    90627495.0
ARR_DELAY      334057.0
DIVERTED          137.0
CANCELLED         881.0
dtype: float64

In [51]:
flights.mean() #mean(), std(), var()은 숫자형 컬럼만 계산.

MONTH           6.220646
DAY            15.702096
WEEKDAY         3.926862
SCHED_DEP    1387.984836
DEP_DELAY      10.921192
AIR_TIME      115.928576
DIST          872.900072
SCHED_ARR    1549.399832
ARR_DELAY       5.812315
DIVERTED        0.002342
CANCELLED       0.015062
dtype: float64

### aggregate(func, axis=0, \*args, \*\*kwargs) 또는 agg(func, axis=0, \*args, \*\*kwargs)
- 판다스가 제공하는 집계 함수들이나 사용자 정의 집계함수를 DataFrame의 열 별로 처리해주는 함수.
- **사용자 정의 집계함수를 사용하거나 열 별로 다른 집계를 할 때 사용한다.**
- 매개변수
    - func 
        - 집계 함수 지정
            - 문자열/문자열리스트 : 집계함수의 이름. 여러 개일 경우 리스트. 판다스 제공 집계함수는 문자열로 함수명만 제공가능
            - 딕션어리 : {집계할컬럼 : 집계함수 }
            - 함수 객체 : 사용자 정의 함수의 경우 함수이름을 전달
    - axis
        - 0 또는 'index' (기본값): 컬럼 별 집계
        - 1 또는 'columns': 행 별 집계
    - \*args, \**kwargs 
        - 함수에 전달할 매개변수. 
        - 집계함수는 첫번째 매개변수로 Series를 받는다. 그 이외의 매개변수가 있는 경우.

In [12]:
flights.aggregate('sum')

MONTH                                                   363858
DAY                                                     918447
WEEKDAY                                                 229690
AIRLINE      WNUAMQAAWNUAAAF9AAUAMQEVOOEVUAAAOONKMQWNWNUAOO...
ORG_AIR      LAXDENDFWDFWLAXIAHDFWSFOORDIAHDFWORDORDORDIAHD...
DEST_AIR     SLCIADVPSDCAMCISANMSYPHXSTLSJCDROJANMSPCMHINDD...
SCHED_DEP                                             81186009
DEP_DELAY                                               629705
AIR_TIME                                           6.66288e+06
DIST                                                  51057671
SCHED_ARR                                             90627495
ARR_DELAY                                               334057
DIVERTED                                                   137
CANCELLED                                                  881
dtype: object

In [10]:
flights.aggregate(['sum','mean','median']).T

                                                         sum       mean median
MONTH                                                 363858    6.22065      6
DAY                                                   918447    15.7021     16
WEEKDAY                                               229690    3.92686      4
AIRLINE    WNUAMQAAWNUAAAF9AAUAMQEVOOEVUAAAOONKMQWNWNUAOO...        NaN    NaN
ORG_AIR    LAXDENDFWDFWLAXIAHDFWSFOORDIAHDFWORDORDORDIAHD...        NaN    NaN
DEST_AIR   SLCIADVPSDCAMCISANMSYPHXSTLSJCDROJANMSPCMHINDD...        NaN    NaN
SCHED_DEP                                         8.1186e+07    1387.98   1353
DEP_DELAY                                             629705    10.9212     -1
AIR_TIME                                         6.66288e+06    115.929     97
DIST                                             5.10577e+07      872.9    690
SCHED_ARR                                        9.06275e+07     1549.4   1603
ARR_DELAY                                             334057    5.81232     -4
DIVERTED                                                 137  0.0023422      0
CANCELLED                                                881  0.0150619      0

In [11]:
flights.agg(['sum','mean','median']).T

                                                         sum       mean median
MONTH                                                 363858    6.22065      6
DAY                                                   918447    15.7021     16
WEEKDAY                                               229690    3.92686      4
AIRLINE    WNUAMQAAWNUAAAF9AAUAMQEVOOEVUAAAOONKMQWNWNUAOO...        NaN    NaN
ORG_AIR    LAXDENDFWDFWLAXIAHDFWSFOORDIAHDFWORDORDORDIAHD...        NaN    NaN
DEST_AIR   SLCIADVPSDCAMCISANMSYPHXSTLSJCDROJANMSPCMHINDD...        NaN    NaN
SCHED_DEP                                         8.1186e+07    1387.98   1353
DEP_DELAY                                             629705    10.9212     -1
AIR_TIME                                         6.66288e+06    115.929     97
DIST                                             5.10577e+07      872.9    690
SCHED_ARR                                        9.06275e+07     1549.4   1603
ARR_DELAY                                             334057    5.81232     -4
DIVERTED                                                 137  0.0023422      0
CANCELLED                                                881  0.0150619      0

In [13]:
flights['DIST'].agg(['sum','mean','count','median'])

sum       5.105767e+07
mean      8.729001e+02
count     5.849200e+04
median    6.900000e+02
Name: DIST, dtype: float64

In [15]:
flights.select_dtypes(exclude=['object']).agg(['sum','mean','count','median']).T

                  sum         mean    count  median
MONTH        363858.0     6.220646  58492.0     6.0
DAY          918447.0    15.702096  58492.0    16.0
WEEKDAY      229690.0     3.926862  58492.0     4.0
SCHED_DEP  81186009.0  1387.984836  58492.0  1353.0
DEP_DELAY    629705.0    10.921192  57659.0    -1.0
AIR_TIME    6662879.0   115.928576  57474.0    97.0
DIST       51057671.0   872.900072  58492.0   690.0
SCHED_ARR  90627495.0  1549.399832  58492.0  1603.0
ARR_DELAY    334057.0     5.812315  57474.0    -4.0
DIVERTED        137.0     0.002342  58492.0     0.0
CANCELLED       881.0     0.015062  58492.0     0.0

In [16]:
# airline: 최빈값-mode, DEP_DELAY:평균-mean
flights.columns

Index(['MONTH', 'DAY', 'WEEKDAY', 'AIRLINE', 'ORG_AIR', 'DEST_AIR',
       'SCHED_DEP', 'DEP_DELAY', 'AIR_TIME', 'DIST', 'SCHED_ARR', 'ARR_DELAY',
       'DIVERTED', 'CANCELLED'],
      dtype='object')

In [17]:
flights.agg({'AIRLINE':'mode','DEP_DELAY':'mean'})

  AIRLINE  DEP_DELAY
0      DL  10.921192

In [18]:
flights.agg({'AIRLINE':'mode','DEP_DELAY':['mean','std']})

     AIRLINE  DEP_DELAY
        mode  DEP_DELAY
0         DL        NaN
mean     NaN  10.921192
std      NaN  36.146210

In [20]:
# ARR_DELAY,DEP_DELAY 의 min, max
flights[['ARR_DELAY','DEP_DELAY']].agg(['min','max'])

     ARR_DELAY  DEP_DELAY
min      -60.0      -24.0
max     1185.0     1194.0

In [22]:
flights['ARR_DELAY'].quantile(q=[0.25,0.75])

0.25   -12.0
0.75     9.0
Name: ARR_DELAY, dtype: float64

# Groupby
- 특정 열을 기준으로 데이터셋을 묶는다.
- ~~ 별 집계를 할 때 사용한다.
- 구문
    - DF.groupby('그룹으로묶을기준컬럼')['집계할 컬럼'].집계함수()
        - 집계할 컬럼은 Fancy Indexing 으로 지정(리스트, 튜플로 전달)
    - 집계함수
        - 기술통계 함수들
        - agg()/aggregate()
            - 여러 다른 집계함수 호출시(여러 집계를 같이 볼경우)
            - 사용자정의 집계함수 호출시
            - 컬럼별로 다른 집계함수들을 호출할 경우

- ### 가장 많이 쓰이는 것은 마지막 집계함수를 직접 호출 하는 것
- ### 한번에 여러개의 집계함수를 호출 할 경우는 agg([리스트]) 를 사용한다. 
- ### 열별로 다른 집계를 하는 경우 dict를 사용한다.

In [ ]:
np.sort(flights['AIRLINE'])

In [23]:
gb = flights.groupby('AIRLINE')

In [26]:
type(gb)

pandas.core.groupby.generic.DataFrameGroupBy

In [28]:
from pprint import pprint
pprint(gb.groups)

{'AA': Int64Index([    3,     6,     8,    15,    26,    32,    33,    36,    37,
               41,
            ...
            58454, 58456, 58462, 58465, 58466, 58470, 58475, 58476, 58479,
            58487],
           dtype='int64', length=8900),
 'AS': Int64Index([   38,   198,   241,   277,   397,   450,   453,   500,   518,
              591,
            ...
            58202, 58207, 58224, 58238, 58253, 58305, 58355, 58404, 58407,
            58428],
           dtype='int64', length=768),
 'B6': Int64Index([  123,   127,   239,   333,   548,   549,   696,   757,   945,
             1175,
            ...
            57948, 57968, 58059, 58076, 58228, 58262, 58301, 58425, 58477,
            58483],
           dtype='int64', length=543),
 'DL': Int64Index([   53,    57,    77,    79,    85,    90,    91,   101,   116,
              117,
            ...
            58390, 58411, 58413, 58421, 58429, 58440, 58448, 58464, 58467,
            58485],
           dtype='int64', length=10601),
 'EV': Int64Index([   11,    13,    29,    40,    69,   100,   106,   118,   136,
              143,
            ...
            58370, 58397, 58412, 58423, 58438, 58445, 58452, 58459, 58463,
            58486],
           dtype='int64', length=5858),
 'F9': Int64Index([    7,    93,   209,   232,   247,   290,   301,   386,   444,
              483,
            ...
            58151, 58169, 58194, 58201, 58219, 58288, 58331, 58447, 58449,
            58488],
           dtype='int64', length=1317),
 'HA': Int64Index([  582,   712,   878,  1053,  1269,  1345,  1544,  1864,  2316,
             2644,
            ...
            53204, 53338, 54457, 55215, 55679, 55883, 56174, 56350, 56816,
            58391],
           dtype='int64', length=112),
 'MQ': Int64Index([    2,    10,    18,    24,    50,    60,    71,    78,    81,
              103,
            ...
            58369, 58393, 58394, 58406, 58410, 58415, 58426, 58468, 58474,
            58484],
           dtype='int64', length=3471),
 'NK': Int64Index([   17,    74,    95,   109,   166,   345,   358,   401,   434,
              436,
            ...
            58006, 58022, 58113, 58129, 58152, 58160, 58197, 58437, 58461,
            58469],
           dtype='int64', length=1516),
 'OO': Int64Index([   12,    16,    22,    25,    27,    34,    39,    42,    51,
               52,
            ...
            58433, 58434, 58435, 58439, 58446, 58451, 58480, 58482, 58489,
            58491],
           dtype='int64', length=6588),
 'UA': Int64Index([    1,     5,     9,    14,    21,    44,    45,    67,    70,
               72,
            ...
            58365, 58389, 58396, 58401, 58419, 58422, 58432, 58457, 58460,
            58481],
           dtype='int64', length=7792),
 'US': Int64Index([   31,    35,    49,    96,   104,   111,   112,   119,   148,
              150,
            ...
            31433, 31445, 31462, 31481, 31497, 31514, 31523, 31535, 31561,
            31582],
           dtype='int64', length=1615),
 'VX': Int64Index([   56,   227,   243,   417,   432,   464,   614,   641,   703,
              759,
            ...
            57971, 58068, 58112, 58298, 58313, 58332, 58383, 58400, 58471,
            58478],
           dtype='int64', length=993),
 'WN': Int64Index([    0,     4,    19,    20,    23,    28,    30,    43,    59,
               64,
            ...
            58408, 58409, 58430, 58436, 58444, 58455, 58458, 58472, 58473,
            58490],
           dtype='int64', length=8418)}

In [29]:
flights.iloc[[    3,     6,     8,    15,    26,    32,    33,    36,    37,
               41]]

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
6,1,1,4,AA,DFW,MSY,1250,84.0,64.0,447,1410,83.0,0,0
8,1,1,4,AA,ORD,STL,1845,-5.0,44.0,258,1950,-5.0,0,0
15,1,1,4,AA,DEN,DFW,1445,-6.0,93.0,641,1745,4.0,0,0
26,1,1,4,AA,LAX,AUS,1430,33.0,157.0,1242,1925,41.0,0,0
32,1,1,4,AA,PHX,MIA,1559,115.0,230.0,1972,2203,117.0,0,0
33,1,1,4,AA,IAH,MIA,1935,26.0,115.0,964,2256,21.0,0,0
36,1,1,4,AA,DFW,OKC,1345,5.0,35.0,175,1440,6.0,0,0
37,1,1,4,AA,LAS,DFW,1210,12.0,132.0,1055,1650,17.0,0,0
41,1,1,4,AA,DFW,DCA,2010,19.0,126.0,1192,2350,4.0,0,0

In [30]:
flights[flights['AIRLINE']=='AA']

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
6,1,1,4,AA,DFW,MSY,1250,84.0,64.0,447,1410,83.0,0,0
8,1,1,4,AA,ORD,STL,1845,-5.0,44.0,258,1950,-5.0,0,0
15,1,1,4,AA,DEN,DFW,1445,-6.0,93.0,641,1745,4.0,0,0
26,1,1,4,AA,LAX,AUS,1430,33.0,157.0,1242,1925,41.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58470,12,31,4,AA,DFW,FAT,1020,-3.0,196.0,1313,1156,-2.0,0,0
58475,12,31,4,AA,IAH,CLT,710,1.0,113.0,912,1037,-12.0,0,0
58476,12,31,4,AA,DFW,TPA,1020,-3.0,121.0,929,1340,-6.0,0,0
58479,12,31,4,AA,DFW,ELP,1200,3.0,94.0,551,1250,13.0,0,0
58487,12,31,4,AA,SFO,DFW,515,5.0,166.0,1464,1045,-19.0,0,0

In [31]:
# AIRLINE별 각 컬럼의 평균
flights.groupby('AIRLINE').mean()

,MONTH,DAY,WEEKDAY,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
AIRLINE,,,,,,,,,,,
AA,6.661461,15.570562,3.986966,1340.140449,11.274057,144.259404,1114.347865,1546.960899,5.542661,0.002921,0.017303
AS,6.197917,15.247396,3.941406,1418.269531,1.808594,147.845052,1065.884115,1548.292969,-0.833333,0.000000,0.000000
B6,6.368324,15.788214,4.040516,1512.924494,14.287823,209.412963,1771.882136,1432.889503,8.692593,0.003683,0.001842
DL,6.277332,15.721158,3.913310,1426.563154,7.242450,115.334187,866.448448,1578.735402,0.339691,0.002264,0.003585
EV,6.003926,15.866166,3.927450,1415.510413,9.092625,68.964016,460.237453,1571.798054,7.034580,0.002561,0.024923
F9,6.401670,15.914958,4.007593,1407.121488,14.310398,127.592337,969.593014,1510.177677,13.630651,0.001519,0.007593
HA,5.508929,15.526786,3.750000,959.419643,2.571429,338.288288,2615.178571,1280.714286,4.972973,0.008929,0.000000
MQ,5.970614,15.598963,3.902622,1432.251801,11.094323,61.318346,404.229041,1587.835494,6.860591,0.001441,0.043791
NK,6.602243,15.680739,4.006596,1336.634565,19.514401,135.736878,1047.428100,1398.226913,18.436070,0.003298,0.016491
OO,6.134791,15.651943,3.923345,1426.486794,9.662279,76.010272,511.239375,1573.730267,7.593463,0.003188,0.021554
UA,6.322510,15.697510,3.871535,1357.970739,16.210485,155.650521,1230.918891,1532.871150,7.765755,0.002438,0.011935
US,3.628483,16.079876,4.063777,1289.552941,4.361355,147.686755,1181.226625,1489.131269,1.681105,0.000619,0.013003
VX,6.336354,15.518630,3.924471,1385.110775,8.918946,154.864097,1240.296073,1581.023162,5.348884,0.001007,0.006042
WN,6.298646,15.746971,3.884652,1370.585650,12.639366,107.005897,809.985626,1532.243407,6.397353,0.001782,0.011048

In [33]:
#AIRLINE별 AIR_TIME의 평균
flights.groupby('AIRLINE')['AIR_TIME'].mean()

AIRLINE
AA    144.259404
AS    147.845052
B6    209.412963
DL    115.334187
EV     68.964016
F9    127.592337
HA    338.288288
MQ     61.318346
NK    135.736878
OO     76.010272
UA    155.650521
US    147.686755
VX    154.864097
WN    107.005897
Name: AIR_TIME, dtype: float64

In [40]:
flights.groupby('AIRLINE')[['ARR_DELAY','DEP_DELAY']].mean()

         ARR_DELAY  DEP_DELAY
AIRLINE
AA        5.542661  11.274057
AS       -0.833333   1.808594
B6        8.692593  14.287823
DL        0.339691   7.242450
EV        7.034580   9.092625
F9       13.630651  14.310398
HA        4.972973   2.571429
MQ        6.860591  11.094323
NK       18.436070  19.514401
OO        7.593463   9.662279
UA        7.765755  16.210485
US        1.681105   4.361355
VX        5.348884   8.918946
WN        6.397353  12.639366

In [37]:
flights.columns

Index(['MONTH', 'DAY', 'WEEKDAY', 'AIRLINE', 'ORG_AIR', 'DEST_AIR',
       'SCHED_DEP', 'DEP_DELAY', 'AIR_TIME', 'DIST', 'SCHED_ARR', 'ARR_DELAY',
       'DIVERTED', 'CANCELLED'],
      dtype='object')

In [41]:
flights.groupby('AIRLINE')['ARR_DELAY'].agg(['mean','std'])

              mean        std
AIRLINE
AA        5.542661  43.323160
AS       -0.833333  31.168354
B6        8.692593  40.221718
DL        0.339691  32.299471
EV        7.034580  36.682336
F9       13.630651  53.030912
HA        4.972973  37.528283
MQ        6.860591  36.324657
NK       18.436070  48.727259
OO        7.593463  35.331344
UA        7.765755  46.405935
US        1.681105  27.030227
VX        5.348884  33.747675
WN        6.397353  32.610666

In [43]:
result = flights.groupby('AIRLINE')[['ARR_DELAY','DEP_DELAY','AIR_TIME']].agg(['mean','std'])
result

         ARR_DELAY             DEP_DELAY               AIR_TIME
              mean        std       mean        std        mean         std
AIRLINE
AA        5.542661  43.323160  11.274057  40.787806  144.259404   72.871103
AS       -0.833333  31.168354   1.808594  29.543702  147.845052   59.821928
B6        8.692593  40.221718  14.287823  36.863416  209.412963   97.466125
DL        0.339691  32.299471   7.242450  29.759377  115.334187   71.027396
EV        7.034580  36.682336   9.092625  34.582917   68.964016   31.735348
F9       13.630651  53.030912  14.310398  51.773844  127.592337   46.832304
HA        4.972973  37.528283   2.571429  33.880743  338.288288   29.329906
MQ        6.860591  36.324657  11.094323  31.159293   61.318346   29.409990
NK       18.436070  48.727259  19.514401  46.484632  135.736878   57.031164
OO        7.593463  35.331344   9.662279  33.413767   76.010272   42.394403
UA        7.765755  46.405935  16.210485  44.834336  155.650521   78.933987
US        1.681105  27.030227   4.361355  24.550930  147.686755   75.083131
VX        5.348884  33.747675   8.918946  31.782085  154.864097  100.970317
WN        6.397353  32.610666  12.639366  30.506549  107.005897   55.778468

In [47]:
result['ARR_DELAY']

              mean        std
AIRLINE
AA        5.542661  43.323160
AS       -0.833333  31.168354
B6        8.692593  40.221718
DL        0.339691  32.299471
EV        7.034580  36.682336
F9       13.630651  53.030912
HA        4.972973  37.528283
MQ        6.860591  36.324657
NK       18.436070  48.727259
OO        7.593463  35.331344
UA        7.765755  46.405935
US        1.681105  27.030227
VX        5.348884  33.747675
WN        6.397353  32.610666

In [46]:
result['ARR_DELAY','mean']

AIRLINE
AA     5.542661
AS    -0.833333
B6     8.692593
DL     0.339691
EV     7.034580
F9    13.630651
HA     4.972973
MQ     6.860591
NK    18.436070
OO     7.593463
UA     7.765755
US     1.681105
VX     5.348884
WN     6.397353
Name: (ARR_DELAY, mean), dtype: float64

In [48]:
#컬럼별 다른 통계량을 조회
flights.groupby('AIRLINE').agg({"DEP_DELAY":['mean','std'],
                               "ARR_DELAY":['min','max'],
                               "AIR_TIME":'count'})

         DEP_DELAY            ARR_DELAY         AIR_TIME
              mean        std       min     max    count
AIRLINE
AA       11.274057  40.787806     -60.0   858.0     8720
AS        1.808594  29.543702     -57.0   344.0      768
B6       14.287823  36.863416     -51.0   331.0      540
DL        7.242450  29.759377     -57.0   741.0    10539
EV        9.092625  34.582917     -39.0   669.0     5697
F9       14.310398  51.773844     -43.0   839.0     1305
HA        2.571429  33.880743     -44.0   298.0      111
MQ       11.094323  31.159293     -37.0   357.0     3314
NK       19.514401  46.484632     -39.0   474.0     1486
OO        9.662279  33.413767     -44.0   724.0     6425
UA       16.210485  44.834336     -58.0  1185.0     7680
US        4.361355  24.550930     -51.0   431.0     1593
VX        8.918946  31.782085     -51.0   236.0      986
WN       12.639366  30.506549     -52.0   493.0     8310

In [49]:
#취소여부(CANCELLED) : 0-False(취소안됨), 1-True(취소)
flights['CANCELLED'].value_counts()

0    57611
1      881
Name: CANCELLED, dtype: int64

In [52]:
#에어라인별 취소건수.
flights.groupby('AIRLINE')['CANCELLED'].sum()

AIRLINE
AA    154
AS      0
B6      1
DL     38
EV    146
F9     10
HA      0
MQ    152
NK     25
OO    142
UA     93
US     21
VX      6
WN     93
Name: CANCELLED, dtype: int64

In [60]:
#index 기준으로 groupby
flights.groupby(flights.index).mean()

,MONTH,DAY,WEEKDAY,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,1720,48.0,166.0,1363,2225,39.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
58487,12,31,4,515,5.0,166.0,1464,1045,-19.0,0,0
58488,12,31,4,1910,13.0,71.0,414,2050,4.0,0,0
58489,12,31,4,1846,-6.0,46.0,262,1956,-5.0,0,0
58490,12,31,4,525,39.0,124.0,907,855,34.0,0,0
58491,12,31,4,859,5.0,73.0,522,1146,-1.0,0,0

In [55]:
flights

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58487,12,31,4,AA,SFO,DFW,515,5.0,166.0,1464,1045,-19.0,0,0
58488,12,31,4,F9,LAS,SFO,1910,13.0,71.0,414,2050,4.0,0,0
58489,12,31,4,OO,SFO,SBA,1846,-6.0,46.0,262,1956,-5.0,0,0
58490,12,31,4,WN,MSP,ATL,525,39.0,124.0,907,855,34.0,0,0
58491,12,31,4,OO,SFO,BOI,859,5.0,73.0,522,1146,-1.0,0,0

###  복수열 기준 그룹핑
- 두개 이상의 열을 그룹으로 묶을 수 있다. 
- groupby의 매개변수에 그룹으로 묶을 컬럼들의 이름을 리스트로 전달한다.

In [61]:
#AIRLINE, MONTH기준
flights.groupby(['AIRLINE','MONTH'])['DEP_DELAY'].mean()

AIRLINE  MONTH
AA       1        12.645740
         2         8.485816
         3        13.536337
         4         9.127352
         5        12.552995
                    ...
WN       7        18.904110
         8        12.123253
         9         6.240152
         11        8.548344
         12       14.622222
Name: DEP_DELAY, Length: 149, dtype: float64

## Goupby 집계후 집계한 것 중 특정 조건의 항목만 보기
- SQL having 절
- 집계 후 boolean indexing으로 having절 처리

## 사용자 정의 집계함수를 만들어 적용

### 사용자 정의 집계 함수 정의
- 매개변수
    1. Series 또는 DataFrame을 받을 매개변수(필수)
    2. 필요한 값을 받을 매개변수를 선언한다. (선택)

### agg() 를 사용해 사용자 정의 집계 함수 호출
- DataFrame.agg(func=None, axis=0, *args, **kwargs)
    - axis : 사용자 정의 함수에 전달할 값들(Series)의 축 지정
- Series.agg(func=None, axis=0, *args, **kwargs)
    - DataFrame의 agg와 매개변수 구조를 맞추기 위해 axis 지정한다. 
- SeriesGroupBy.agg(func=None,  *args, **kwargs)  
    - axis 지정안함
    - 사용자 함수에 Series를 group 별로 전달한다.
- DataFrameGroupBy.agg(func, *args, **kwargs)  
    - axis 지정안함.
    - 사용자 함수에 Series를 group 별로 전달한다. 
- *args, **kwargs는 사용자 정의 함수에 선언한 매개변수가 있을 경우 전달할 값을 전달한다.

# TODO
1. data/diamonds.csv 를 읽어 DataFrame 생성
2. 1에서 생성한 DataFrame의 정보 조회
    - 배열의 shape조회
    - 컬럼들의 정보조회
    - 상/하위 5개 행 조회
3. cut별 가격 평균 조회
4. clarity별 carat 평균과 표준편차 조회
5. cut과 color 별로 가격은 평균을 carat은 최대값을 조회