# Seoul_report.csv 읽기
+ 서울시 주민등록인구 (구별) 통계 - [서울열린데이터광장 ](http://data.seoul.go.kr/dataList/datasetView.do?serviceKind=2&infId=419&stcSrl=419&srvType=S)

## CSV 파일 읽기
- Seoul_report.csv 파일의 내용을 DataFrame으로 읽고 변수에 대입

In [1]:
import numpy as np
import pandas as pd
s_report = pd.read_csv('Seoul_report.csv')
s_report

,자치구,세대,총합계,남자,여자,한국인합계,한국인남자,한국인여자,외국인합계,남자외국인,여자외국인,세대당인구,65세이상고령자
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
1,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
2,중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655
3,용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
5,광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
6,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
7,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
8,성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
9,강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002
10,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293
11,노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
12,은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
13,서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
14,마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
15,양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
17,구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
18,금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
20,동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
22,서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
24,송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
25,강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983

# 열명 변경
- 읽은 DataFrame에 어떤 컬럼이 있는지 확인하고 열명을 아래와 같이 바꾼다. (이외 열이름은 그대로 유지)    
    - '총합계' : '총인구' 
    - '한국인합계': '한국인'
    - '외국인합계' : '외국인'
    - '65세이상고령자' : '고령자'

In [2]:
s_report.columns

Index(['자치구', '세대', '총합계', '남자', '여자', '한국인합계', '한국인남자', '한국인여자', '외국인합계',
       '남자외국인', '여자외국인', '세대당인구', '65세이상고령자'],
      dtype='object')

In [6]:
#s1.columns=[] # 전체 컬럼명 변경.
#일부 컬럼 변경시 :rename({"기존이름:"새이름",....}, axis=1)
mp = {'총합계' : '총인구',
'한국인합계': '한국인',
'외국인합계' : '외국인',
'65세이상고령자' : '고령자'}
s1 = s_report.rename(mp, axis=1)
s1

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
1,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
2,중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655
3,용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
5,광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
6,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
7,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
8,성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
9,강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002
10,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293
11,노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
12,은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
13,서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
14,마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
15,양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
17,구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
18,금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
20,동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
22,서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
24,송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
25,강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983

# 사용할 열들만 추출
- 자치구, 총인구, 한국인, 외국인, 고령자 열만 가지는 dataframe 생성
    - shape이 (5, n) 이 되도록

In [9]:
s2 = s1[['자치구', '총인구', '한국인', '외국인', '고령자']]

In [10]:
s2

     자치구       총인구      한국인     외국인      고령자
0     합계  10112070  9838892  273178  1382420
1    종로구    164348   154549    9799    26429
2     중구    135139   126082    9057    21655
3    용산구    245411   229909   15502    37238
4    성동구    314551   306532    8019    41752
5    광진구    371671   357149   14522    44470
6   동대문구    364962   349308   15654    56284
7    중랑구    411552   406868    4684    59992
8    성북구    453902   442226   11676    66896
9    강북구    327511   323862    3649    57002
10   도봉구    345041   342861    2180    54293
11   노원구    555803   551902    3901    75081
12   은평구    490253   485902    4351    75535
13  서대문구    324871   312311   12560    49645
14   마포구    385624   374742   10882    50122
15   양천구    473087   469221    3866    56070
16   강서구    608361   601696    6665    77381
17   구로구    440396   408369   32027    59838
18   금천구    253344   234238   19106    34640
19  영등포구    403988   369128   34860    54704
20   동작구    406715   394353   12362    57711
21   관악구    522292   504445   17847    70807
22   서초구    445164   440954    4210    54055
23   강남구    557865   552976    4889    65859
24   송파구    671994   665282    6712    77978
25   강동구    438225   434027    4198    56983

In [8]:
s5 = s1.filter(items=['자치구', '총인구', '한국인', '외국인', '고령자']).T
s5, s5.shape

(           0       1       2       3       4       5       6       7       8   \
 자치구        합계     종로구      중구     용산구     성동구     광진구    동대문구     중랑구     성북구
 총인구  10112070  164348  135139  245411  314551  371671  364962  411552  453902
 한국인   9838892  154549  126082  229909  306532  357149  349308  406868  442226
 외국인    273178    9799    9057   15502    8019   14522   15654    4684   11676
 고령자   1382420   26429   21655   37238   41752   44470   56284   59992   66896

          9   ...      16      17      18      19      20      21      22  \
 자치구     강북구  ...     강서구     구로구     금천구    영등포구     동작구     관악구     서초구
 총인구  327511  ...  608361  440396  253344  403988  406715  522292  445164
 한국인  323862  ...  601696  408369  234238  369128  394353  504445  440954
 외국인    3649  ...    6665   32027   19106   34860   12362   17847    4210
 고령자   57002  ...   77381   59838   34640   54704   57711   70807   54055

          23      24      25
 자치구     강남구     송파구     강동구
 총인구  557865  671994  438225
 한국인  552976  665282  434027
 외국인    4889    6712    4198
 고령자   65859   77978   56983

 [5 rows x 26 columns],
 (5, 26))

# DataFrame 개괄 정보 조회
1. 몇행/몇열인지 조회
1. 결측치가 있는지 조회
1. DataFrame에 대한 정보(index, columns) 확인
1. 상위 5개 행만 조회
1. 하위 5개 행만 조회
1. 컬럼별 통계량 요약 조회

In [34]:
s1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   자치구     26 non-null     object
 1   세대      26 non-null     int64
 2   총인구     26 non-null     int64
 3   남자      26 non-null     int64
 4   여자      26 non-null     int64
 5   한국인     26 non-null     int64
 6   한국인남자   26 non-null     int64
 7   한국인여자   26 non-null     int64
 8   외국인     26 non-null     int64
 9   남자외국인   26 non-null     int64
 10  여자외국인   26 non-null     int64
 11  세대당인구   26 non-null     float64
 12  고령자     26 non-null     int64
dtypes: float64(1), int64(11), object(1)
memory usage: 2.8+ KB

In [35]:
s1.shape

(26, 13)

In [40]:
s1.isnull()
s1.isnull().sum()

자치구      0
세대       0
총인구      0
남자       0
여자       0
한국인      0
한국인남자    0
한국인여자    0
외국인      0
남자외국인    0
여자외국인    0
세대당인구    0
고령자      0
dtype: int64

In [43]:
s1.index

RangeIndex(start=0, stop=26, step=1)

In [44]:
s1.columns

Index(['자치구', '세대', '총인구', '남자', '여자', '한국인', '한국인남자', '한국인여자', '외국인', '남자외국인',
       '여자외국인', '세대당인구', '고령자'],
      dtype='object')

In [ ]:
상위 5개 행만 조회
하위 5개 행만 조회
컬럼별 통계량 요약 조회

In [45]:
s1.head()

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
1,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
2,중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655
3,용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752

In [46]:
s1.tail()

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
22,서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
24,송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
25,강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983

In [11]:
s2.describe()

                총인구           한국인            외국인           고령자
count  2.600000e+01  2.600000e+01      26.000000  2.600000e+01
mean   7.778515e+05  7.568378e+05   21013.692308  1.063400e+05
std    1.907984e+06  1.856777e+06   52081.287523  2.606869e+05
min    1.351390e+05  1.260820e+05    2180.000000  2.165500e+04
25%    3.318935e+05  3.286118e+05    4434.250000  4.976425e+04
50%    4.091335e+05  4.006105e+05    9428.000000  5.663350e+04
75%    4.859615e+05  4.817318e+05   15257.000000  6.663675e+04
max    1.011207e+07  9.838892e+06  273178.000000  1.382420e+06

# 열이름으로 조회
1. 총인구 열의 모든 값들을 조회
1. 한국인, 외국인 열의 모든 값들을 조회

In [14]:

s2['총인구']
s1.총인구

0     10112070
1       164348
2       135139
3       245411
4       314551
5       371671
6       364962
7       411552
8       453902
9       327511
10      345041
11      555803
12      490253
13      324871
14      385624
15      473087
16      608361
17      440396
18      253344
19      403988
20      406715
21      522292
22      445164
23      557865
24      671994
25      438225
Name: 총인구, dtype: int64

In [15]:
s1[['한국인','외국인']]

        한국인     외국인
0   9838892  273178
1    154549    9799
2    126082    9057
3    229909   15502
4    306532    8019
5    357149   14522
6    349308   15654
7    406868    4684
8    442226   11676
9    323862    3649
10   342861    2180
11   551902    3901
12   485902    4351
13   312311   12560
14   374742   10882
15   469221    3866
16   601696    6665
17   408369   32027
18   234238   19106
19   369128   34860
20   394353   12362
21   504445   17847
22   440954    4210
23   552976    4889
24   665282    6712
25   434027    4198

In [64]:
s1.loc[:,['한국인','외국인']]

        한국인     외국인
0   9838892  273178
1    154549    9799
2    126082    9057
3    229909   15502
4    306532    8019
5    357149   14522
6    349308   15654
7    406868    4684
8    442226   11676
9    323862    3649
10   342861    2180
11   551902    3901
12   485902    4351
13   312311   12560
14   374742   10882
15   469221    3866
16   601696    6665
17   408369   32027
18   234238   19106
19   369128   34860
20   394353   12362
21   504445   17847
22   440954    4210
23   552976    4889
24   665282    6712
25   434027    4198

In [63]:
s1.iloc[:,[5,8]]

        한국인     외국인
0   9838892  273178
1    154549    9799
2    126082    9057
3    229909   15502
4    306532    8019
5    357149   14522
6    349308   15654
7    406868    4684
8    442226   11676
9    323862    3649
10   342861    2180
11   551902    3901
12   485902    4351
13   312311   12560
14   374742   10882
15   469221    3866
16   601696    6665
17   408369   32027
18   234238   19106
19   369128   34860
20   394353   12362
21   504445   17847
22   440954    4210
23   552976    4889
24   665282    6712
25   434027    4198

# 행기준 조회
1. 5번째 행의 데이터를 조회.
1. 1, 5, 7, 10 번째 행의 데이터를 조회
1. 15 ~ 20 번째 행의 데이터를 조회
1. 10~15 행에서 자치구, 총인구, 한국인 열의 값을 조회
1. 6, 7, 8 번째 행의 한국인, 외국인 열의 값을 조회

In [16]:
s1.iloc[[4]]

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752

In [17]:
s1.iloc[[0,4,6,9]]

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
6,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
9,강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002

In [18]:
s1.iloc[14:20]

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
14,마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
15,양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
17,구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
18,금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704

In [22]:
s1.loc[10:15,['자치구', '총인구', '한국인']]
s1.iloc[10:15,[0,1,2]]
s2.iloc[10:15,0:3]

     자치구     총인구     한국인
10   도봉구  345041  342861
11   노원구  555803  551902
12   은평구  490253  485902
13  서대문구  324871  312311
14   마포구  385624  374742

In [ ]:
6, 7, 8 번째 행의 한국인, 외국인 열의 값을 조회

In [23]:
s1.loc[6:8,['한국인','외국인']]
s2.iloc[[5,6,7],[2,3]]

      한국인    외국인
5  357149  14522
6  349308  15654
7  406868   4684

# index 이름 지정
1. '자치구' 열을 index로 설정
1. 데이터 프레임의 index이름 조회
1. 강남구 행 조회
1. 종로구, 성동구, 서대문구 행 조회
1. 노원구 ~ 금천구 조회
1. 종로구의 한국인,외국인 열의 값 조회
1. 도봉구, 노원구, 송파구의 총인구와 고령자 열의 값 조회

In [24]:
#s2.set_index('자치구', inplace=True)
s2 = s2.set_index('자치구')

In [25]:
s2.index

Index(['합계', '종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구', '영등포구',
       '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'],
      dtype='object', name='자치구')

In [26]:
s2.head()

          총인구      한국인     외국인      고령자
자치구
합계   10112070  9838892  273178  1382420
종로구    164348   154549    9799    26429
중구     135139   126082    9057    21655
용산구    245411   229909   15502    37238
성동구    314551   306532    8019    41752

In [91]:
s2.loc[['강남구']]

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
자치구,,,,,,,,,,,,
강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859

In [106]:
s2.loc[['종로구', '성동구', '서대문구']]

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
자치구,,,,,,,,,,,,
종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645

In [ ]:
노원구 ~ 금천구 조회
종로구의 한국인,외국인 열의 값 조회
도봉구, 노원구, 송파구의 총인구와 고령자 열의 값 조회

In [93]:
s2.loc['노원구':'금천구']

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
자치구,,,,,,,,,,,,
노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640

In [29]:
s2.loc['종로구',['한국인','외국인']]

한국인    154549
외국인      9799
Name: 종로구, dtype: int64

In [105]:
s2.loc[['도봉구', '노원구', '송파구'],['총인구','고령자']]

        총인구    고령자
자치구
도봉구  345041  54293
노원구  555803  75081
송파구  671994  77978

# Boolean 인덱싱 - 조건으로 조회
1. 총인구가 500,000 이상인 행 조회
1. 외국인이 15,000 이상인 행의 한국인, 외국인 열 조회
1. 외국인이 고령자보다 많은 행을 조회 (없으므로 아무 행도 안나오는게 정상임)
1. 고령자수가 60,000 ~ 70,000 인 행 조회
1. 외국인이 15,000 이상이고 고령자가 50,000 이상인 행을 조회

In [31]:
s2[s2['총인구']>=500000]
s2.loc[s2['총인구']>=500000]

          총인구      한국인     외국인      고령자
자치구
합계   10112070  9838892  273178  1382420
노원구    555803   551902    3901    75081
강서구    608361   601696    6665    77381
관악구    522292   504445   17847    70807
강남구    557865   552976    4889    65859
송파구    671994   665282    6712    77978

In [113]:
s2[s2['외국인']>=15000][['한국인','외국인']]
s2.loc[s2['외국인']>=15000,['한국인','외국인']]

          한국인     외국인
자치구
합계    9838892  273178
용산구    229909   15502
동대문구   349308   15654
구로구    408369   32027
금천구    234238   19106
영등포구   369128   34860
관악구    504445   17847

In [ ]:
외국인이 고령자보다 많은 행을 조회 (없으므로 아무 행도 안나오는게 정상임)
고령자수가 60,000 ~ 70,000 인 행 조회
외국인이 15,000 이상이고 고령자가 50,000 이상인 행을 조회

In [33]:
s2[s2['외국인']>s2['고령자']]
s2.loc[s2['외국인']>s2['고령자']]

Empty DataFrame
Columns: [총인구, 한국인, 외국인, 고령자]
Index: []

In [36]:
s2[(s2['고령자']>=60000)&(s2['고령자']<=70000)]
s2.loc[(s2['고령자']>=60000)&(s2['고령자']<=70000)]
s2.loc[s2['고령자'].between(60000,70000)]

        총인구     한국인    외국인    고령자
자치구
성북구  453902  442226  11676  66896
강남구  557865  552976   4889  65859

In [35]:
s2.loc[(s2['외국인']>=15000) & (s2['고령자']>=50000)]

           총인구      한국인     외국인      고령자
자치구
합계    10112070  9838892  273178  1382420
동대문구    364962   349308   15654    56284
구로구     440396   408369   32027    59838
영등포구    403988   369128   34860    54704
관악구     522292   504445   17847    70807

# 정렬
1. 자치구컬럼 기준 오름차순 순으로 정렬
1. 자치구컬럼 기준 내림차순 순으로 정렬
1. 외국인이 많이 있는 순으로 정렬
1. 한국인이 많이 있는 순서로 정렬하고 혹시 같으면 고령자가 적은 순으로 2차 정렬
1. 합계를 지우고 총인구 내림차순으로 정렬

In [40]:
s3 = s2.sort_index(ascending=True)

In [37]:
s2.sort_index(ascending=True)

           총인구      한국인     외국인      고령자
자치구
강남구     557865   552976    4889    65859
강동구     438225   434027    4198    56983
강북구     327511   323862    3649    57002
강서구     608361   601696    6665    77381
관악구     522292   504445   17847    70807
광진구     371671   357149   14522    44470
구로구     440396   408369   32027    59838
금천구     253344   234238   19106    34640
노원구     555803   551902    3901    75081
도봉구     345041   342861    2180    54293
동대문구    364962   349308   15654    56284
동작구     406715   394353   12362    57711
마포구     385624   374742   10882    50122
서대문구    324871   312311   12560    49645
서초구     445164   440954    4210    54055
성동구     314551   306532    8019    41752
성북구     453902   442226   11676    66896
송파구     671994   665282    6712    77978
양천구     473087   469221    3866    56070
영등포구    403988   369128   34860    54704
용산구     245411   229909   15502    37238
은평구     490253   485902    4351    75535
종로구     164348   154549    9799    26429
중구      135139   126082    9057    21655
중랑구     411552   406868    4684    59992
합계    10112070  9838892  273178  1382420

In [38]:
s2.sort_index(axis=1) #컬럼기준 정렬

          고령자     외국인       총인구      한국인
자치구
합계    1382420  273178  10112070  9838892
종로구     26429    9799    164348   154549
중구      21655    9057    135139   126082
용산구     37238   15502    245411   229909
성동구     41752    8019    314551   306532
광진구     44470   14522    371671   357149
동대문구    56284   15654    364962   349308
중랑구     59992    4684    411552   406868
성북구     66896   11676    453902   442226
강북구     57002    3649    327511   323862
도봉구     54293    2180    345041   342861
노원구     75081    3901    555803   551902
은평구     75535    4351    490253   485902
서대문구    49645   12560    324871   312311
마포구     50122   10882    385624   374742
양천구     56070    3866    473087   469221
강서구     77381    6665    608361   601696
구로구     59838   32027    440396   408369
금천구     34640   19106    253344   234238
영등포구    54704   34860    403988   369128
동작구     57711   12362    406715   394353
관악구     70807   17847    522292   504445
서초구     54055    4210    445164   440954
강남구     65859    4889    557865   552976
송파구     77978    6712    671994   665282
강동구     56983    4198    438225   434027

In [43]:
s3['과':'도'] # 인덱스 오름차순 설정이되있을경우.

        총인구     한국인    외국인    고령자
자치구
관악구  522292  504445  17847  70807
광진구  371671  357149  14522  44470
구로구  440396  408369  32027  59838
금천구  253344  234238  19106  34640
노원구  555803  551902   3901  75081

In [45]:
s2.sort_index(ascending=False)

           총인구      한국인     외국인      고령자
자치구
합계    10112070  9838892  273178  1382420
중랑구     411552   406868    4684    59992
중구      135139   126082    9057    21655
종로구     164348   154549    9799    26429
은평구     490253   485902    4351    75535
용산구     245411   229909   15502    37238
영등포구    403988   369128   34860    54704
양천구     473087   469221    3866    56070
송파구     671994   665282    6712    77978
성북구     453902   442226   11676    66896
성동구     314551   306532    8019    41752
서초구     445164   440954    4210    54055
서대문구    324871   312311   12560    49645
마포구     385624   374742   10882    50122
동작구     406715   394353   12362    57711
동대문구    364962   349308   15654    56284
도봉구     345041   342861    2180    54293
노원구     555803   551902    3901    75081
금천구     253344   234238   19106    34640
구로구     440396   408369   32027    59838
광진구     371671   357149   14522    44470
관악구     522292   504445   17847    70807
강서구     608361   601696    6665    77381
강북구     327511   323862    3649    57002
강동구     438225   434027    4198    56983
강남구     557865   552976    4889    65859

In [46]:
s2.sort_values('외국인',ascending=False)

           총인구      한국인     외국인      고령자
자치구
합계    10112070  9838892  273178  1382420
영등포구    403988   369128   34860    54704
구로구     440396   408369   32027    59838
금천구     253344   234238   19106    34640
관악구     522292   504445   17847    70807
동대문구    364962   349308   15654    56284
용산구     245411   229909   15502    37238
광진구     371671   357149   14522    44470
서대문구    324871   312311   12560    49645
동작구     406715   394353   12362    57711
성북구     453902   442226   11676    66896
마포구     385624   374742   10882    50122
종로구     164348   154549    9799    26429
중구      135139   126082    9057    21655
성동구     314551   306532    8019    41752
송파구     671994   665282    6712    77978
강서구     608361   601696    6665    77381
강남구     557865   552976    4889    65859
중랑구     411552   406868    4684    59992
은평구     490253   485902    4351    75535
서초구     445164   440954    4210    54055
강동구     438225   434027    4198    56983
노원구     555803   551902    3901    75081
양천구     473087   469221    3866    56070
강북구     327511   323862    3649    57002
도봉구     345041   342861    2180    54293

In [128]:
s2.sort_values(['한국인','고령자'],ascending=[False,True])

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
자치구,,,,,,,,,,,,
합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983
구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711
마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293
강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002
서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655

In [47]:
s3 = s2.drop(labels='합계').sort_values('총인구')
s3

         총인구     한국인    외국인    고령자
자치구
중구    135139  126082   9057  21655
종로구   164348  154549   9799  26429
용산구   245411  229909  15502  37238
금천구   253344  234238  19106  34640
성동구   314551  306532   8019  41752
서대문구  324871  312311  12560  49645
강북구   327511  323862   3649  57002
도봉구   345041  342861   2180  54293
동대문구  364962  349308  15654  56284
광진구   371671  357149  14522  44470
마포구   385624  374742  10882  50122
영등포구  403988  369128  34860  54704
동작구   406715  394353  12362  57711
중랑구   411552  406868   4684  59992
강동구   438225  434027   4198  56983
구로구   440396  408369  32027  59838
서초구   445164  440954   4210  54055
성북구   453902  442226  11676  66896
양천구   473087  469221   3866  56070
은평구   490253  485902   4351  75535
관악구   522292  504445  17847  70807
노원구   555803  551902   3901  75081
강남구   557865  552976   4889  65859
강서구   608361  601696   6665  77381
송파구   671994  665282   6712  77978

In [49]:
s3 = s2.drop(index='합계').sort_values('총인구', ascending=False)
s3

         총인구     한국인    외국인    고령자
자치구
송파구   671994  665282   6712  77978
강서구   608361  601696   6665  77381
강남구   557865  552976   4889  65859
노원구   555803  551902   3901  75081
관악구   522292  504445  17847  70807
은평구   490253  485902   4351  75535
양천구   473087  469221   3866  56070
성북구   453902  442226  11676  66896
서초구   445164  440954   4210  54055
구로구   440396  408369  32027  59838
강동구   438225  434027   4198  56983
중랑구   411552  406868   4684  59992
동작구   406715  394353  12362  57711
영등포구  403988  369128  34860  54704
마포구   385624  374742  10882  50122
광진구   371671  357149  14522  44470
동대문구  364962  349308  15654  56284
도봉구   345041  342861   2180  54293
강북구   327511  323862   3649  57002
서대문구  324871  312311  12560  49645
성동구   314551  306532   8019  41752
금천구   253344  234238  19106  34640
용산구   245411  229909  15502  37238
종로구   164348  154549   9799  26429
중구    135139  126082   9057  21655

# 열 추가 - 파생변수
1. 총인구 대비 외국인의 비율을 계산한 값을 **외국인비율** 컬럼을 만들어 넣기 (외국인/총인구 * 100)
1. 총인구 대비 고령자의 비율을 계산한 값을 **고령자비율** 컬럼을 만들어 넣기

In [ ]:
#벡터화
import numpy as np
s3['외국인비율'] = np.round(df['외국인']/df['총인구']*100, 2)

In [52]:
s3['외국인비율'] = np.round((s3['외국인']/s3['총인구'])*100,2)
s3

         총인구     한국인    외국인    고령자  외국인비율
자치구
송파구   671994  665282   6712  77978   1.00
강서구   608361  601696   6665  77381   1.10
강남구   557865  552976   4889  65859   0.88
노원구   555803  551902   3901  75081   0.70
관악구   522292  504445  17847  70807   3.42
은평구   490253  485902   4351  75535   0.89
양천구   473087  469221   3866  56070   0.82
성북구   453902  442226  11676  66896   2.57
서초구   445164  440954   4210  54055   0.95
구로구   440396  408369  32027  59838   7.27
강동구   438225  434027   4198  56983   0.96
중랑구   411552  406868   4684  59992   1.14
동작구   406715  394353  12362  57711   3.04
영등포구  403988  369128  34860  54704   8.63
마포구   385624  374742  10882  50122   2.82
광진구   371671  357149  14522  44470   3.91
동대문구  364962  349308  15654  56284   4.29
도봉구   345041  342861   2180  54293   0.63
강북구   327511  323862   3649  57002   1.11
서대문구  324871  312311  12560  49645   3.87
성동구   314551  306532   8019  41752   2.55
금천구   253344  234238  19106  34640   7.54
용산구   245411  229909  15502  37238   6.32
종로구   164348  154549   9799  26429   5.96
중구    135139  126082   9057  21655   6.70

In [53]:
s3['고령자비율'] = (s3['고령자']/s3['총인구'])*100
s3

         총인구     한국인    외국인    고령자  외국인비율      고령자비율
자치구
송파구   671994  665282   6712  77978   1.00  11.603973
강서구   608361  601696   6665  77381   1.10  12.719586
강남구   557865  552976   4889  65859   0.88  11.805544
노원구   555803  551902   3901  75081   0.70  13.508563
관악구   522292  504445  17847  70807   3.42  13.556976
은평구   490253  485902   4351  75535   0.89  15.407351
양천구   473087  469221   3866  56070   0.82  11.851943
성북구   453902  442226  11676  66896   2.57  14.737983
서초구   445164  440954   4210  54055   0.95  12.142716
구로구   440396  408369  32027  59838   7.27  13.587317
강동구   438225  434027   4198  56983   0.96  13.003138
중랑구   411552  406868   4684  59992   1.14  14.577016
동작구   406715  394353  12362  57711   3.04  14.189543
영등포구  403988  369128  34860  54704   8.63  13.540996
마포구   385624  374742  10882  50122   2.82  12.997635
광진구   371671  357149  14522  44470   3.91  11.964883
동대문구  364962  349308  15654  56284   4.29  15.421880
도봉구   345041  342861   2180  54293   0.63  15.735231
강북구   327511  323862   3649  57002   1.11  17.404606
서대문구  324871  312311  12560  49645   3.87  15.281450
성동구   314551  306532   8019  41752   2.55  13.273523
금천구   253344  234238  19106  34640   7.54  13.673109
용산구   245411  229909  15502  37238   6.32  15.173729
종로구   164348  154549   9799  26429   5.96  16.081121
중구    135139  126082   9057  21655   6.70  16.024242

# 기술 통계정보
1. 아래를 조회하는데 합계 행은 빼고 계산한다.
1. 총인구 컬럼의 평균, 합계, 중위값, 표준편차, 분산, 데이터개수
1. 외국인과 고령자의 평균, 표준편차 조회
1. 외국인이 가장 적은 행을 조회

In [151]:
s3[['총인구']].agg(['mean','sum','median','std','var','count']).T

         mean         sum    median            std           var  count
총인구  404482.8  10112070.0  406715.0  128664.735948  1.655461e+10   25.0

In [146]:
s3[['외국인','고령자']].agg(['mean','std'])

               외국인           고령자
mean  10927.120000  55296.800000
std    8369.590678  15035.905515

In [164]:
s3.loc[[s3['외국인'].idxmin()]]

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자,외국인비율,고령자비율
자치구,,,,,,,,,,,,,,
도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293,0.631809,15.735231

In [159]:
s3.mean()

세대       169504.400000
총인구      404482.800000
남자       197939.240000
여자       206543.560000
한국인      393555.680000
한국인남자    192700.280000
한국인여자    200855.400000
외국인       10927.120000
남자외국인      5238.960000
여자외국인      5688.160000
세대당인구         2.303600
고령자       55296.800000
외국인비율         3.162069
고령자비율        13.970562
dtype: float64

# DataFrame 병합하기
### seoul_cctv.csv 파일
- 서울 자치구 연도별 CCTV 데이터 셋 [서울열린데이터광장](http://data.seoul.go.kr/dataList/OA-2734/C/1/datasetView.do)    


1. seoul_cctv.csv 파일을 DataFrame으로 읽기
2. 서울시 자치구별 인구 DataFrame과 서울시 자치구 CCTV 데이터 셋을 **자치구명을 기준으로** 결합하여 하나의 DataFrame으로 만드시오.

In [54]:
sc1 = pd.read_csv('Seoul_cctv.csv')
sc1.shape

(25, 4)

In [55]:
sc1.head()

   기관명  2014년 CCTV 수  2015년 CCTV 수  2016년 CCTV 수
0  강남구           430           584           932
1  강동구            99           155           377
2  강북구           120           138           204
3  강서구           258           184            81
4  관악구           260           390           613

In [56]:
sc1['기관명']

0      강남구
1      강동구
2      강북구
3      강서구
4      관악구
5      광진구
6      구로구
7      금천구
8      노원구
9      도봉구
10    동대문구
11     동작구
12     마포구
13    서대문구
14     서초구
15     성동구
16     성북구
17     송파구
18     양천구
19    영등포구
20     용산구
21     은평구
22     종로구
23      중구
24     중랑구
Name: 기관명, dtype: object

In [173]:
s1.merge(sc1,left_on='자치구',right_on='기관명',how='right')

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자,기관명,2014년 CCTV 수,2015년 CCTV 수,2016년 CCTV 수
0,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859,강남구,430,584,932
1,강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983,강동구,99,155,377
2,강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002,강북구,120,138,204
3,강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381,강서구,258,184,81
4,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807,관악구,260,390,613
5,광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470,광진구,78,53,174
6,구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838,구로구,173,246,323
7,금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640,금천구,51,269,354
8,노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081,노원구,57,451,516
9,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293,도봉구,159,42,386
10,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284,동대문구,23,198,579
11,동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711,동작구,341,103,314
12,마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122,마포구,118,169,379
13,서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645,서대문구,50,68,292
14,서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055,서초구,157,336,398
15,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752,성동구,91,241,265
16,성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896,성북구,78,360,204
17,송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978,송파구,21,68,463
18,양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070,양천구,142,30,467
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704,영등포구,214,195,373
20,용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238,용산구,218,112,398
21,은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535,은평구,224,278,468
22,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429,종로구,314,211,630
23,중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655,중구,190,72,348
24,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992,중랑구,121,177,109

In [60]:
s2.join(sc1.set_index('기관명'))

,총인구,한국인,외국인,고령자,2014년 CCTV 수,2015년 CCTV 수,2016년 CCTV 수
자치구,,,,,,,
합계,10112070,9838892,273178,1382420,NaN,NaN,NaN
종로구,164348,154549,9799,26429,314.0,211.0,630.0
중구,135139,126082,9057,21655,190.0,72.0,348.0
용산구,245411,229909,15502,37238,218.0,112.0,398.0
성동구,314551,306532,8019,41752,91.0,241.0,265.0
광진구,371671,357149,14522,44470,78.0,53.0,174.0
동대문구,364962,349308,15654,56284,23.0,198.0,579.0
중랑구,411552,406868,4684,59992,121.0,177.0,109.0
성북구,453902,442226,11676,66896,78.0,360.0,204.0
강북구,327511,323862,3649,57002,120.0,138.0,204.0
도봉구,345041,342861,2180,54293,159.0,42.0,386.0
노원구,555803,551902,3901,75081,57.0,451.0,516.0
은평구,490253,485902,4351,75535,224.0,278.0,468.0
서대문구,324871,312311,12560,49645,50.0,68.0,292.0
마포구,385624,374742,10882,50122,118.0,169.0,379.0
양천구,473087,469221,3866,56070,142.0,30.0,467.0
강서구,608361,601696,6665,77381,258.0,184.0,81.0
구로구,440396,408369,32027,59838,173.0,246.0,323.0
금천구,253344,234238,19106,34640,51.0,269.0,354.0
영등포구,403988,369128,34860,54704,214.0,195.0,373.0
동작구,406715,394353,12362,57711,341.0,103.0,314.0
관악구,522292,504445,17847,70807,260.0,390.0,613.0
서초구,445164,440954,4210,54055,157.0,336.0,398.0
강남구,557865,552976,4889,65859,430.0,584.0,932.0
송파구,671994,665282,6712,77978,21.0,68.0,463.0
강동구,438225,434027,4198,56983,99.0,155.0,377.0

In [59]:
s1_cctv_join = s2.join(sc1.set_index('기관명'),how='inner')
s1_cctv_join

         총인구     한국인    외국인    고령자  2014년 CCTV 수  2015년 CCTV 수  2016년 CCTV 수
종로구   164348  154549   9799  26429           314           211           630
중구    135139  126082   9057  21655           190            72           348
용산구   245411  229909  15502  37238           218           112           398
성동구   314551  306532   8019  41752            91           241           265
광진구   371671  357149  14522  44470            78            53           174
동대문구  364962  349308  15654  56284            23           198           579
중랑구   411552  406868   4684  59992           121           177           109
성북구   453902  442226  11676  66896            78           360           204
강북구   327511  323862   3649  57002           120           138           204
도봉구   345041  342861   2180  54293           159            42           386
노원구   555803  551902   3901  75081            57           451           516
은평구   490253  485902   4351  75535           224           278           468
서대문구  324871  312311  12560  49645            50            68           292
마포구   385624  374742  10882  50122           118           169           379
양천구   473087  469221   3866  56070           142            30           467
강서구   608361  601696   6665  77381           258           184            81
구로구   440396  408369  32027  59838           173           246           323
금천구   253344  234238  19106  34640            51           269           354
영등포구  403988  369128  34860  54704           214           195           373
동작구   406715  394353  12362  57711           341           103           314
관악구   522292  504445  17847  70807           260           390           613
서초구   445164  440954   4210  54055           157           336           398
강남구   557865  552976   4889  65859           430           584           932
송파구   671994  665282   6712  77978            21            68           463
강동구   438225  434027   4198  56983            99           155           377

# Groupby와 집계
## forestfire.csv 파일
- 포르투칼 북서부 산림 산불관련 데이터 셋 [UCI Machine learning repository](https://archive.ics.uci.edu/ml/datasets/forest+fires)    


1. forestfire.csv 파일을 DataFrame으로 읽기
1. 어떤 컬럼들이 변수형 컬럼인지 확인.
1. 월(month)과 요일(day) 의 고유한(unique) 값들과 각각의 행수 조회
1. 요일(day) 별 wind의 평균을 조회
1. 요일(day) 별 wind, rain의 평균을 조회
1. 요일(day) 별 wind, rain의 평균과 합계과 개수 조회
1. 요일(day) 별로 wind는 평균을 rain은 합계와 최대값을 조회
1. 월(month) 그리고 요일별(day) temp의 최대값과 최소값을 조회
1. X좌표(X), Y좌표(Y)별 temp의 평균울 pivot table로 조회

In [70]:
ff = pd.read_csv('forestfire.csv')
ff.shape
ff

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [62]:
ff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       517 non-null    int64
 1   Y       517 non-null    int64
 2   month   517 non-null    object
 3   day     517 non-null    object
 4   FFMC    517 non-null    float64
 5   DMC     517 non-null    float64
 6   DC      517 non-null    float64
 7   ISI     517 non-null    float64
 8   temp    517 non-null    float64
 9   RH      517 non-null    int64
 10  wind    517 non-null    float64
 11  rain    517 non-null    float64
 12  area    517 non-null    float64
dtypes: float64(8), int64(3), object(2)
memory usage: 52.6+ KB

In [63]:
# 어떤 컬럼들이 범주형 컬럼인지 확인.
ff['X'].nunique()
ff['X'].value_counts()
ff['X'].unique()

array([7, 8, 6, 5, 4, 2, 9, 1, 3], dtype=int64)

In [67]:
ff['Y'].unique()

array([5, 4, 6, 3, 2, 9, 8], dtype=int64)

In [69]:
ff['DMC'].unique()

array([ 26.2,  35.4,  43.7,  33.3,  51.3,  85.3,  88.9, 145.4, 129.5,
        88. ,  73.2,  70.8, 126.5, 133.3, 141.2,  35.8,  32.8,  27.9,
        27.4,  78.5,  96.3, 110.9, 139.4, 142.4, 117.9, 149.3,  85.1,
        91.8,  69.7,  75.6,  80.7,  41.5,  25.7,  60.6,  96.9, 108.3,
        82.9,  62.3,  23.9,  52.2, 137. ,  99.6, 111.2, 114.3,  46.5,
         9.3,  13.2,  75.3, 103.2,  48.3, 147.3,   6.8, 108. , 121.2,
        90. ,   8. ,   2.4, 121.1,   3.7,  19.5,  30.7,  39.7, 124.1,
        73.4,  37.9,  21.5,  80.9,  99.9, 131.7,  56.4,  68.6,  51.2,
        50.1,  18.2, 127.1,  90.4,   9.1,  15.6,  48.5, 135.7,  41.9,
        44. ,  37.6,   8.7, 150.3,  81.8,   3. ,  17.2,  23.3, 122.3,
       175.1,  91.6, 157.3, 109.2, 138.1,  77. , 117.2, 170.9,  97.9,
       112.4, 141.1, 167.6, 102.2, 152.6,  27.2,  27.8,  26.4,  25.4,
        26.7,  27.5,   6.6,   4.9, 169.7, 183.1, 104.2, 100.2, 180.4,
        88.8,  89.5, 147.8,  71. ,  93.3,  94.1,  28. ,  84.1, 105.8,
        46.2, 115.4, 134.7,  96.2, 119. , 136.9,  53.3, 102.3, 124.4,
        87.7, 108.4, 111.7, 130.1,  99. , 122. ,  55.2, 132.3,  94.3,
       276.3, 133.6, 203.2, 222.4, 290. , 207. , 231.1,  18.9,   1.1,
       101.3, 194.1, 217.7, 248.4, 273.8, 181.3,  96.7, 227. ,   9.5,
        91.3,  15. ,   4.6,   9. ,  49.5,  88.2,  84.8, 212.1, 291.3,
         8.2,   7.3,   3.2,  92.1, 235.1, 164.1,  17.3, 191.4, 263.1,
       287.2, 178. , 269.8,  84.7, 253.6,  24.9,  47.9, 284.9, 196.8,
       238.2, 266.2, 160. ,   4.4,   3.6,  15.1,  18.5,  20.6,  14.6,
        61.1, 103.8, 121.7, 103.9, 114.4, 130.3, 135.5, 141.3, 152. ,
       158. , 164. , 175.5, 181.1, 163.2, 166.9,  56.7, 146. ])

In [68]:
ff['month'].unique()

array(['mar', 'oct', 'aug', 'sep', 'apr', 'jun', 'jul', 'feb', 'jan',
       'dec', 'may', 'nov'], dtype=object)

In [181]:
ff.groupby('day')[['wind']].mean()

         wind
day
fri  4.494118
mon  3.737838
sat  3.758333
sun  4.123158
thu  3.711475
tue  4.271875
wed  3.912963

In [72]:
ff.groupby('day')[['wind','rain']].mean()

         wind      rain
day
fri  4.494118  0.018824
mon  3.737838  0.000000
sat  3.758333  0.000000
sun  4.123158  0.010526
thu  3.711475  0.000000
tue  4.271875  0.131250
wed  3.912963  0.003704

In [71]:
ff.groupby('day')[['wind','rain']].agg(['mean','sum','count'])

         wind                   rain
         mean    sum count      mean  sum count
day
fri  4.494118  382.0    85  0.018824  1.6    85
mon  3.737838  276.6    74  0.000000  0.0    74
sat  3.758333  315.7    84  0.000000  0.0    84
sun  4.123158  391.7    95  0.010526  1.0    95
thu  3.711475  226.4    61  0.000000  0.0    61
tue  4.271875  273.4    64  0.131250  8.4    64
wed  3.912963  211.3    54  0.003704  0.2    54

In [73]:
ff.groupby('day').agg({'wind':'mean',
                      'rain':['sum','max']})

         wind rain
         mean  sum  max
day
fri  4.494118  1.6  1.4
mon  3.737838  0.0  0.0
sat  3.758333  0.0  0.0
sun  4.123158  1.0  1.0
thu  3.711475  0.0  0.0
tue  4.271875  8.4  6.4
wed  3.912963  0.2  0.2

In [74]:
ff.groupby(['month','day'])[['temp']].agg(['max','min'])

           temp
            max   min
month day
apr   fri  16.7  16.7
      mon  10.9  10.9
      sat   9.3   9.3
      sun  17.6  13.4
      thu   5.8   5.8
...         ...   ...
sep   sat  30.2  15.4
      sun  28.3  12.2
      thu  27.7  12.9
      tue  24.3  13.1
      wed  26.4  10.5

[64 rows x 2 columns]

In [79]:
ff_df = ff.groupby(['month','day'])[['temp']].agg(['max','min'])

In [80]:
#DataFrame을 한행씩 제공하는 generator
for row in ff_df.iterrows():
    print(row)

(('apr', 'fri'), temp  max    16.7
      min    16.7
Name: (apr, fri), dtype: float64)
(('apr', 'mon'), temp  max    10.9
      min    10.9
Name: (apr, mon), dtype: float64)
(('apr', 'sat'), temp  max    9.3
      min    9.3
Name: (apr, sat), dtype: float64)
(('apr', 'sun'), temp  max    17.6
      min    13.4
Name: (apr, sun), dtype: float64)
(('apr', 'thu'), temp  max    5.8
      min    5.8
Name: (apr, thu), dtype: float64)
(('apr', 'wed'), temp  max    15.2
      min    15.2
Name: (apr, wed), dtype: float64)
(('aug', 'fri'), temp  max    32.4
      min    11.2
Name: (aug, fri), dtype: float64)
(('aug', 'mon'), temp  max    32.6
      min     8.0
Name: (aug, mon), dtype: float64)
(('aug', 'sat'), temp  max    30.8
      min     5.1
Name: (aug, sat), dtype: float64)
(('aug', 'sun'), temp  max    33.1
      min    10.4
Name: (aug, sun), dtype: float64)
(('aug', 'thu'), temp  max    32.4
      min    16.2
Name: (aug, thu), dtype: float64)
(('aug', 'tue'), temp  max    33.3
      min    14.4
Name: (aug, tue), dtype: float64)
(('aug', 'wed'), temp  max    30.8
      min    16.6
Name: (aug, wed), dtype: float64)
(('dec', 'fri'), temp  max    2.2
      min    2.2
Name: (dec, fri), dtype: float64)
(('dec', 'mon'), temp  max    4.6
      min    4.6
Name: (dec, mon), dtype: float64)
(('dec', 'sun'), temp  max    4.8
      min    4.8
Name: (dec, sun), dtype: float64)
(('dec', 'thu'), temp  max    5.1
      min    5.1
Name: (dec, thu), dtype: float64)
(('dec', 'tue'), temp  max    5.1
      min    5.1
Name: (dec, tue), dtype: float64)
(('dec', 'wed'), temp  max    5.1
      min    5.1
Name: (dec, wed), dtype: float64)
(('feb', 'fri'), temp  max    15.7
      min     7.5
Name: (feb, fri), dtype: float64)
(('feb', 'mon'), temp  max    13.9
      min     5.3
Name: (feb, mon), dtype: float64)
(('feb', 'sat'), temp  max    15.4
      min     4.6
Name: (feb, sat), dtype: float64)
(('feb', 'sun'), temp  max    12.4
      min     4.2
Name: (feb, sun), dtype: float64)
(('feb', 'thu'), temp  max    6.7
      min    6.7
Name: (feb, thu), dtype: float64)
(('feb', 'tue'), temp  max    5.1
      min    4.6
Name: (feb, tue), dtype: float64)
(('feb', 'wed'), temp  max    8.8
      min    8.8
Name: (feb, wed), dtype: float64)
(('jan', 'sat'), temp  max    5.3
      min    5.3
Name: (jan, sat), dtype: float64)
(('jan', 'sun'), temp  max    5.2
      min    5.2
Name: (jan, sun), dtype: float64)
(('jul', 'fri'), temp  max    22.9
      min    13.4
Name: (jul, fri), dtype: float64)
(('jul', 'mon'), temp  max    23.0
      min    17.9
Name: (jul, mon), dtype: float64)
(('jul', 'sat'), temp  max    25.3
      min    16.6
Name: (jul, sat), dtype: float64)
(('jul', 'sun'), temp  max    29.3
      min    18.2
Name: (jul, sun), dtype: float64)
(('jul', 'thu'), temp  max    30.2
      min    27.2
Name: (jul, thu), dtype: float64)
(('jul', 'tue'), temp  max    26.9
      min    17.1
Name: (jul, tue), dtype: float64)
(('jul', 'wed'), temp  max    19.3
      min    12.6
Name: (jul, wed), dtype: float64)
(('jun', 'fri'), temp  max    23.2
      min    19.2
Name: (jun, fri), dtype: float64)
(('jun', 'mon'), temp  max    20.7
      min    14.3
Name: (jun, mon), dtype: float64)
(('jun', 'sat'), temp  max    24.5
      min    10.6
Name: (jun, sat), dtype: float64)
(('jun', 'sun'), temp  max    22.2
      min    14.3
Name: (jun, sun), dtype: float64)
(('jun', 'thu'), temp  max    26.4
      min    22.7
Name: (jun, thu), dtype: float64)
(('jun', 'wed'), temp  max    28.0
      min    19.6
Name: (jun, wed), dtype: float64)
(('mar', 'fri'), temp  max    18.8
      min     8.2
Name: (mar, fri), dtype: float64)
(('mar', 'mon'), temp  max    16.1
      min     8.3
Name: (mar, mon), dtype: float64)
(('mar', 'sat'), temp  max    17.4
      min    11.6
Name: (mar, sat), dtype: float64)
(('mar', 'sun'), temp  max    12.4
      min     5.5
Name: (mar, sun), dtype: float64)
(('mar', 'thu'), temp  max    18.2
      min     5.3
Name: (mar, thu), dtype: float64)
(('mar', 'tue'), temp  max    15.8
      min    14.1
Name: (mar, tue), dtype: float64)
(('mar', 'wed'), temp  max    15.9
      min     8.9
Name: (mar, wed), dtype: float64)
(('may', 'fri'), temp  max    18.0
      min    18.0
Name: (may, fri), dtype: float64)
(('may', 'sat'), temp  max    11.3
      min    11.3
Name: (may, sat), dtype: float64)
(('nov', 'tue'), temp  max    11.8
      min    11.8
Name: (nov, tue), dtype: float64)
(('oct', 'fri'), temp  max    11.3
      min    11.3
Name: (oct, fri), dtype: float64)
(('oct', 'mon'), temp  max    19.1
      min    16.1
Name: (oct, mon), dtype: float64)
(('oct', 'sat'), temp  max    18.4
      min    14.6
Name: (oct, sat), dtype: float64)
(('oct', 'sun'), temp  max    20.6
      min    13.8
Name: (oct, sun), dtype: float64)
(('oct', 'tue'), temp  max    21.7
      min    18.0
Name: (oct, tue), dtype: float64)
(('oct', 'wed'), temp  max    20.2
      min    15.9
Name: (oct, wed), dtype: float64)
(('sep', 'fri'), temp  max    27.6
      min    10.1
Name: (sep, fri), dtype: float64)
(('sep', 'mon'), temp  max    23.0
      min     9.8
Name: (sep, mon), dtype: float64)
(('sep', 'sat'), temp  max    30.2
      min    15.4
Name: (sep, sat), dtype: float64)
(('sep', 'sun'), temp  max    28.3
      min    12.2
Name: (sep, sun), dtype: float64)
(('sep', 'thu'), temp  max    27.7
      min    12.9
Name: (sep, thu), dtype: float64)
(('sep', 'tue'), temp  max    24.3
      min    13.1
Name: (sep, tue), dtype: float64)
(('sep', 'wed'), temp  max    26.4
      min    10.5
Name: (sep, wed), dtype: float64)

In [185]:
ff.groupby(['X','Y'])[['temp']].mean()

          temp
X Y
1 2  20.747368
  3  21.730000
  4  19.606667
  5  25.000000
2 2  18.532000
  3  18.000000
  4  21.833333
  5  21.545000
3 3  24.200000
  4  17.706977
  5  14.714286
  6  17.800000
4 3  21.045455
  4  17.905556
  5  17.864000
  6  12.250000
5 4  18.617391
  5  14.666667
  6  20.000000
6 3  18.536000
  4  15.388889
  5  16.477551
  6  25.900000
7 3  14.400000
  4  17.875556
  5  19.618182
  6  19.750000
8 3  20.566667
  4  21.300000
  5  21.325000
  6  19.815385
  8  26.200000
9 4  24.225000
  5  28.000000
  6  20.500000
  9  20.066667

In [75]:
ff.pivot_table(values='temp', index=['X','Y'], aggfunc='mean')

          temp
X Y
1 2  20.747368
  3  21.730000
  4  19.606667
  5  25.000000
2 2  18.532000
  3  18.000000
  4  21.833333
  5  21.545000
3 3  24.200000
  4  17.706977
  5  14.714286
  6  17.800000
4 3  21.045455
  4  17.905556
  5  17.864000
  6  12.250000
5 4  18.617391
  5  14.666667
  6  20.000000
6 3  18.536000
  4  15.388889
  5  16.477551
  6  25.900000
7 3  14.400000
  4  17.875556
  5  19.618182
  6  19.750000
8 3  20.566667
  4  21.300000
  5  21.325000
  6  19.815385
  8  26.200000
9 4  24.225000
  5  28.000000
  6  20.500000
  9  20.066667

In [77]:
ff.pivot_table(values='temp', index=['Y'],columns=['X'], aggfunc='mean')

X,1,2,3,4,5,6,7,8,9
Y,,,,,,,,,
2,20.747368,18.532000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21.730000,18.000000,24.200000,21.045455,NaN,18.536000,14.400000,20.566667,NaN
4,19.606667,21.833333,17.706977,17.905556,18.617391,15.388889,17.875556,21.300000,24.225000
5,25.000000,21.545000,14.714286,17.864000,14.666667,16.477551,19.618182,21.325000,28.000000
6,NaN,NaN,17.800000,12.250000,20.000000,25.900000,19.750000,19.815385,20.500000
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.200000,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.066667

In [78]:
ff.pivot_table(values='temp', index='month', columns='day', aggfunc=['max', 'min'])

        max                                       min                          \
day     fri   mon   sat   sun   thu   tue   wed   fri   mon   sat   sun   thu
month
apr    16.7  10.9   9.3  17.6   5.8   NaN  15.2  16.7  10.9   9.3  13.4   5.8
aug    32.4  32.6  30.8  33.1  32.4  33.3  30.8  11.2   8.0   5.1  10.4  16.2
dec     2.2   4.6   NaN   4.8   5.1   5.1   5.1   2.2   4.6   NaN   4.8   5.1
feb    15.7  13.9  15.4  12.4   6.7   5.1   8.8   7.5   5.3   4.6   4.2   6.7
jan     NaN   NaN   5.3   5.2   NaN   NaN   NaN   NaN   NaN   5.3   5.2   NaN
jul    22.9  23.0  25.3  29.3  30.2  26.9  19.3  13.4  17.9  16.6  18.2  27.2
jun    23.2  20.7  24.5  22.2  26.4   NaN  28.0  19.2  14.3  10.6  14.3  22.7
mar    18.8  16.1  17.4  12.4  18.2  15.8  15.9   8.2   8.3  11.6   5.5   5.3
may    18.0   NaN  11.3   NaN   NaN   NaN   NaN  18.0   NaN  11.3   NaN   NaN
nov     NaN   NaN   NaN   NaN   NaN  11.8   NaN   NaN   NaN   NaN   NaN   NaN
oct    11.3  19.1  18.4  20.6   NaN  21.7  20.2  11.3  16.1  14.6  13.8   NaN
sep    27.6  23.0  30.2  28.3  27.7  24.3  26.4  10.1   9.8  15.4  12.2  12.9


day     tue   wed
month
apr     NaN  15.2
aug    14.4  16.6
dec     5.1   5.1
feb     4.6   8.8
jan     NaN   NaN
jul    17.1  12.6
jun     NaN  19.6
mar    14.1   8.9
may     NaN   NaN
nov    11.8   NaN
oct    18.0  15.9
sep    13.1  10.5